/**
* Mixins
*/
/**
* Mixin - Font-weight
*/
/**
* Mixin - Viewport
*/
/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container {
  min-width: 0;
  max-width: 1160px;
  margin: 0 auto;
  width: auto;
}
/*
* Base
* Estilo base do elementos do Html
*/
body {
  font-family: 'Exo 2', sans-serif;
}
/*
* Components
* Componentes que se adaptam ao contexto
*/
/*
* Component - Menssagens
*/
.messages > li {
  display: block;
  padding: 0.63rem 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.88rem;
}
.messages .success-msg {
  border: 1px solid #2baf60;
  background: #c8efc0;
  color: #1d904b;
}
.messages .error-msg {
  border: 1px solid #d92100;
  background: #ffdcdc;
  color: #d92100;
}
.messages .notice-msg {
  border: 1px solid #f7be07;
  background: #f9f0d5;
  color: #f7be07;
}
/*
* State
* Estado global do Layout
*/
/*
* Theme
* Customização de components ou layout, hacks !importants e etc
*/
