/* Editable */
/*header*/
.header-container{box-shadow:inset 0 35px 0 #f8f8f8, inset 0 -4px 0 rgba(0,0,0,.3),inset 0 -5px 0 rgba(255,255,255,.15),inset 0 -50px 0 {{color1_bg}}}
.header{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between;padding-bottom:70px}
.header .login-create-container{-webkit-order:1;order:1;-webkit-flex:1 1 auto;flex:1 1 auto;margin-right:20px;text-align:right;font-size:13px;color:#666;text-transform:uppercase}
.header .login-create-container a{margin:0 5px;font-weight:600;color:{{color1_bg_hover}}}
.header .login-create-container a:hover{color:{{color1_bg}}}
.header .login-create-container strong{color:#222;margin:0 2px 0 5px}
.header .login-create{height:35px;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:flex-end;justify-content:flex-end}
.header .login-create .picture{margin-right:5px;width:30px;height:30px;overflow:hidden;border-radius:100%}
.header .login-create .picture img{width:30px;min-height:30px;display:block}
.header .televendas{padding-top:9px;height:35px;-webkit-order:2;order:2;font-size:13px;color:#666;text-transform:uppercase}
.header .televendas strong{font-size:14px;font-weight:600;color:{{color2_bg_hover}}}
.header .before{-webkit-order:3;order:3;-webkit-flex:1 1 100%;flex:1 1 100%;content:'';margin-bottom:20px}
.header .logo-container{-webkit-order:4;order:4;max-width:50%;-webkit-flex:0 0 auto;flex:0 0 auto}
.header .logo-container a{display:block}
.header .logo-container .logo-name{position:absolute;left:-99999px}
.header .logo-container .img-span{display:block}
.header .logo-container .img-span img:not(src*='.svg'){width:auto;height:auto;display:block}
.header .logo-container .img-span img[src*='.svg']{display:block;width:auto;height:auto;min-height:50px;max-width:260px}
.header .search-container{-webkit-order:5;order:5;-webkit-flex:1 1 auto;flex:1 1 auto;margin:0 20px;z-index:12}
.header .mycart-container{-webkit-order:6;order:6;z-index:11;position:relative}
.header .after{-webkit-order:7;order:7;-webkit-flex:1 1 100%;flex:1 1 100%;content:''}
.header .main-menu{position:absolute;bottom:-10px;left:0;right:0}
.checkout-onepage-index .header-container{box-shadow:none;background:none}
.checkout-onepage-index .header{padding:40px 0;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between;border-bottom:1px solid {{color1_bg_hover}}}
.checkout-onepage-index .header .before,
.checkout-onepage-index .header .after{display:none}
.checkout-onepage-index .header .televendas{-webkit-order:10;order:10;margin:0;position:static}
.checkout-onepage-index .header .login-create-container{margin:0 20px;text-align:right;-webkit-order:5;order:5}
.checkout-onepage-index .header .login-create{height:auto}
.checkout-onepage-index .header .no-pic .login-create:before{-webkit-order:10;order:10;margin-left:15px;font-size:60px;font-family:serif;color:{{color1_bg_hover}};content:':)'}
.checkout-onepage-index .header .login-create .picture{-webkit-order:10;order:10;margin-left:15px;width:70px;height:70px;box-shadow:0 0 0 5px #fff,0 0 0 6px {{color1_bg_hover}}}
.checkout-onepage-index .header .login-create .picture img{width:70px;min-height:70px}
.checkout-onepage-index .header .login-create .name{font-size:18px;margin-bottom:3px;color:{{color1_bg_hover}}}
.checkout-onepage-index .header .login-create .name strong{color:{{color1_bg_hover}}}
.checkout-onepage-index .header .login-create b{display:block}

/*mycart*/
.mycart > a{position:relative;display:block;width:180px;height:50px;padding-left:80px;border-radius:3px;color:{{color1_font}};background:{{color1_bg}};box-shadow:inset 0 -4px 0 rgba(0,0,0,.3)}
.mycart > a .icon{position:absolute;left:38px;top:50%;margin-top:-14px;display:block;width:28px;height:28px;fill:{{color1_font}}}
.mycart > a .txt{display:block;padding-top:10px;width:65px;line-height:12px;font-size:13px;text-transform:uppercase}
.mycart > a .qtd{position:absolute;top:5px;left:57px;width:15px;height:15px;font-size:11px;display:block;border-radius:100%;text-align:center;line-height:15px;background:{{color2_bg_hover}};color:{{color2_font_hover}}}
.mycart > a:hover{color:{{color1_font_hover}};background:{{color1_bg_hover}}}
.mycart > a:active{padding-top:4px;box-shadow:inset 0 4px 0 rgba(0,0,0,.3)}
.mycart-dropdown-container{display:none;position:absolute;top:100%;right:0;padding:10px 0 0}
.mycart-dropdown{position:relative;padding:20px;width:300px;background:#fff;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,.2),0 2px 5px rgba(0,0,0,.2)}
.mycart-dropdown:before,
.mycart-dropdown:after{display:block;position:absolute;bottom:100%;right:90px;margin-right:-6px;width:0;height:0;border:6px solid transparent;border-bottom-color:rgba(0,0,0,.2);content:''}
.mycart-dropdown:after{margin-bottom:-1px;border-bottom-color:#fff}
.mycart-dropdown .tit{font-size:16px;color:#222;text-transform:uppercase;font-weight:600;margin-bottom:20px}
.mycart-dropdown .std{font-size:14px}
.mycart-container:hover .mycart-dropdown-container{display:block}
.mycart-products{margin-bottom:20px}
.mycart-products .item{position:relative;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between}
.mycart-products .item:not(:first-child):before{-webkit-flex:1 1 100%;flex:1 1 100%;line-height:30px;color:#000;text-align:right;font-size:20px;font-weight:600;content:'+'}
.mycart-products .product-image{max-width:70px;min-width:70px}
.mycart-products .product-details{-webkit-flex:1 1 170px;flex:1 1 170px;text-align:right;font-size:14px;color:#111}
.mycart-products .btn-remove{position:absolute;top:0;right:-30px;text-align:center;width:40px;height:40px;opacity:0;background:#fff;border-radius:3px;box-shadow:inset 20px 0 0 #fff,inset 0 0 0 1px rgba(0,0,0,.2);-webkit-transition:all .1s ease-in-out}
.mycart-products .item:not(:first-child) .btn-remove{top:30px}
.mycart-products .btn-remove:before{display:block;line-height:40px;color:#f04a38;opacity:.5;font-size:20px;content:'\f014'}
.mycart-products .btn-remove:hover:before{opacity:1}
.mycart-products .btn-remove span{display:none}
.mycart-products .item:hover .btn-remove{opacity:1;right:-40px}
.mycart-products .product-name a{display:block;color:#111;margin-bottom:5px}
.mycart-products .btn-edit{display:none}
.mycart-products .qtd{font-size:12px;color:#888;margin-bottom:5px}
.mycart-products .price{font-size:16px;color:{{color1_bg_hover}}}
.mycart-totals .title{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;font-size:15px;color:#222;font-weight:600;margin-bottom:15px}
.mycart-totals .title:before{-webkit-flex:1 1 auto;flex:1 1 auto;border-top:1px solid #bbb;margin-right:10px;content:''}
.mycart-totals .regular-price{font-size:17px;color:#333;text-align:right;padding-bottom:5px;border-bottom:1px dotted #cbcbcb;margin-bottom:5px}
.mycart-totals .regular-price .label{display:none}
.mycart-totals .regular-price .price{font-weight:400}
.mycart-totals .preco-a-vista{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between;text-align:right;padding:5px 0 10px;border-bottom:1px dotted #cbcbcb;margin-bottom:5px}
.mycart-totals .preco-a-vista .label{margin:0 10px;font-size:12px;color:#999}
.mycart-totals .preco-a-vista .discount{-webkit-order:-1;order:-1;font-size:17px;font-weight:600;color:#888}
.mycart-totals .preco-a-vista .price{-webkit-flex:1 1 auto;flex:1 1 auto;font-size:25px;font-weight:600;color:{{color1_bg_hover}}}
.mycart-totals .preco-parcelado{font-size:13px;color:#111;text-align:right;margin-bottom:10px}
.mycart-totals .preco-parcelado span{color:{{color1_bg_hover}}}
.mycart-totals .preco-parcelado .juros{display:block;font-size:12px;color:#999;padding-top:3px}
.mycart-buttons{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;justify-content:space-between}
.mycart-buttons .editar{height:40px;border-radius:3px;line-height:40px;padding:0 15px;color:#666;font-size:10px;text-transform:uppercase;border:1px solid #666}
.mycart-buttons .editar span{display:inline-block;vertical-align:middle;position:relative;top:-3px;line-height:10px}
.mycart-buttons .editar:hover{color:{{button_bg}};border-color:{{button_bg}}}
.mycart-buttons .finalizar{-webkit-flex:1 1 auto;flex:1 1 auto;margin-left:10px;height:40px;line-height:36px;border-radius:3px;padding:0 30px;box-shadow:inset 0 -4px 0 rgba(0,0,0,.3);font-size:18px;font-weight:600;text-transform:uppercase;text-shadow:0 1px 1px rgba(0,0,0,.3);background:{{button_bg}};color:{{button_font}}}
.mycart-buttons .finalizar:hover{color:{{button_font_hover}};background:{{button_bg_hover}}}
.mycart-buttons .finalizar:active{padding-top:4px;box-shadow:inset 0 4px 0 rgba(0,0,0,.3)}

/*busca*/
.search-container .search-input{height:50px;padding:10px 100px 10px 50px;line-height:30px;font-size:16px;color:#666;border-radius:3px;border:1px solid rgba({{color1_bg rgb}},.3);box-shadow:inset 0 2px 3px rgba(0,0,0,.1)}
.search-container .search-label{top:50%;left:25px;height:auto;line-height:1em;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.search-container .search-label .ico{display:block;width:16px;height:16px;fill:#ccc}
.search-container .search-button{background:none;text-shadow:none;line-height:50px;height:50px;box-shadow:none;border-radius:3px;width:100px;text-transform:uppercase;font-size:16px;color:{{color2_bg}}}
.search-container .search-button .ico{display:none;fill:rgba(0,0,0,.5)}
.search-container .search-button:hover{background:{{color2_bg}};box-shadow:inset 0 -5px 0 rgba(0,0,0,.3);color:{{color2_font}};box-shadow:inset 0 0 0 1px rgba(0,0,0,.1)}

/*menu*/
.main-menu.normal li.level0{margin:0;padding-bottom:10px}
.main-menu.normal a.level0{padding:0;position:relative;z-index:2;height:50px;background:none}
.main-menu.normal a.level0 .name{font-size:16px;text-transform:uppercase;color:{{color1_font}};text-shadow:0 1px 1px rgba(0,0,0,.2)}
.main-menu.normal li.all a.level0 .name .ico{display:block;width:20px;height:20px}
.main-menu.normal li.all a.level1{font-size:16px;font-weight:600;text-transform:uppercase;color:{{color1_font_hover}}}
.main-menu.normal li.all a.level2{font-size:14px;color:rgba({{color1_font_hover rgb}},.7)}
.main-menu.normal li.all div.level1{background:{{color1_bg_hover}}}
.main-menu.normal li.level0:hover a.level0{background:{{color1_bg_hover}};color:{{color1_font_hover}};box-shadow:inset 0 -4px 0 rgba(0,0,0,.3),inset 0 -5px 0 rgba(255,255,255,.15)}
.main-menu.normal li.level0.parent:hover a.level0:before,
.main-menu.normal li.level0.parent:hover a.level0:after,
.main-menu.normal li.level0.all:hover a.level0:before,
.main-menu.normal li.level0.all:hover a.level0:after{display:block}
.main-menu.normal li.level0.parent a.level0:before,
.main-menu.normal li.level0.parent a.level0:after,
.main-menu.normal li.level0.all a.level0:before,
.main-menu.normal li.level0.all a.level0:after{display:none;position:absolute;bottom:-10px;left:50%;margin-left:-6px;width:0;height:0;border:6px solid transparent;border-bottom-color:rgba(0,0,0,.2);content:''}
.main-menu.normal li.level0.parent a.level0:after{bottom:-11px;border-bottom-color:#fff}
.main-menu.normal li.level0.all a.level0:after{bottom:-11px;border-bottom-color:{{color1_bg_hover}}}
.main-menu.normal div.level1{background:#fff;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,.2),0 2px 5px rgba(0,0,0,.2)}
.main-menu.normal a.level1{font-size:16px;color:#333}
.main-menu div.level1.promo .promo-container{padding:10px 10px 10px 20px;box-shadow:-1px 0 0 rgba({{color1_bg rgb}},.3)}
.main-menu div.level1.promo .promo-container .title{font-size:16px;color:#222;text-transform:uppercase;font-weight:600;margin-bottom:20px}
.main-menu div.level1.promo.promo-destaque .promo-container{width:210px}
.main-menu .destaques-item .destaque-link{display:block;margin-bottom:10px}
.main-menu .destaques-item .img{display:block;margin-bottom:10px}
.main-menu .destaques-item .name{display:block;font-size:16px;font-weight:700;color:#222}

/*footer*/
.footer-container{background:#f5f5f5;padding-bottom:40px}
.footer-texto{padding:40px 70px;margin-bottom:40px;border-bottom:1px solid rgba({{color1_bg rgb}},.3);text-align:center;font-size:14px;color:#999}
.footer-4cols{display:-webkit-flex;display:flex;padding-bottom:30px;margin:-10px -10px 10px;border-bottom:1px solid rgba({{color1_bg rgb}},.3)}
.footer-4cols .col{-webkit-flex:1 1 25%;flex:1 1 25%;margin:20px}
.footer-2cols{display:-webkit-flex;display:flex;padding-bottom:30px;margin:-10px -10px 10px;border-bottom:1px solid rgba({{color1_bg rgb}},.3)}
.footer-2cols.last{padding-bottom:0;margin-bottom:0;border-bottom:0}
.footer-2cols .col{-webkit-flex:1 1 25%;flex:1 1 50%;margin:20px}
.footer .ftitle{line-height:1em;margin-bottom:15px;font-size:13px;color:#222;text-transform:uppercase}
.footer .ftitle strong{display:block;font-size:17px}
.footer .tele{font-size:18px;color:{{color1_bg_hover}};margin-bottom:10px;font-weight:600}
.footer .horario{font-size:13px;color:#666;line-height:1.3em}
.footer .horario .email{word-wrap:break-word;font-size:16px;font-weight:600;color:{{color1_bg_hover}};padding-top:5px}
.footer .mb-menu{font-size:14px}
.footer .mb-menu li{margin-bottom:5px}
.footer .mb-menu li:last-child{margin-bottom:0}
.footer .mb-menu a{color:#666}
.footer .mb-menu a:hover{color:{{color1_bg}}}
.footer .mb-menu ul{display:none}
.redes-sociais-container{margin-bottom:20px}
.redes-sociais-container .name{display:none}
.selos .title{opacity:0;visibility:hidden;position:absolute;bottom:100%;left:50%;margin-bottom:10px;-webkit-transform:translateX(-50%) scale(0);transform:translateX(-50%) scale(0);-webkit-transform-origin:center bottom;transform-origin:center bottom;line-height:15px;font-size:10px;padding:0 10px;white-space:nowrap;border-radius:20px;color:{{color1_font_hover}};background:{{color1_bg_hover}}}
.selos .title:before{position:absolute;top:100%;left:50%;margin-left:-3px;display:block;width:0;height:0;border:3px solid transparent;border-top-color:{{color1_bg_hover}};content:''}
.selos li:hover .title{opacity:1;visibility:visible;-webkit-transform:translateX(-50%) scale(1);transform:translateX(-50%) scale(1)}
.selos .list{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;margin:-10px;-webkit-flex-flow:row wrap;flex-flow:row wrap}
.selos .list li{position:relative;padding:10px}
.pagtos-container ul.list li{position:relative}
.pagtos-container ul.list li .icon{margin:0}
.pagtos-container ul.list li .icon svg{display:block;height:30px}
.pagtos-container ul.list li .name{opacity:0;visibility:hidden;position:absolute;bottom:100%;margin-bottom:10px;left:50%;-webkit-transform:translateX(-50%) scale(0);transform:translateX(-50%) scale(0);-webkit-transform-origin:center bottom;transform-origin:center bottom;line-height:15px;font-size:10px;padding:0 10px;white-space:nowrap;border-radius:20px;color:{{color1_font_hover}};background:{{color1_bg_hover}}}
.pagtos-container ul.list li .name:before{position:absolute;top:100%;left:50%;margin-left:-3px;display:block;width:0;height:0;border:3px solid transparent;border-top-color:{{color1_bg_hover}};content:''}
.pagtos-container ul.list li:hover .name{opacity:1;visibility:visible;-webkit-transform:translateX(-50%) scale(1);transform:translateX(-50%) scale(1)}
.envios-container ul.list li{margin-bottom:0;position:relative}
.envios-container ul.list li .icon{margin:0}
.envios-container ul.list li .icon svg{display:block;height:30px}
.envios-container ul.list li .name{opacity:0;visibility:hidden;position:absolute;bottom:120%;left:50%;-webkit-transform:translateX(-50%) scale(0);transform:translateX(-50%) scale(0);-webkit-transform-origin:center bottom;transform-origin:center bottom;line-height:15px;font-size:10px;padding:0 10px;white-space:nowrap;border-radius:20px;color:{{color1_font_hover}};background:{{color1_bg_hover}}}
.envios-container ul.list li .name:before{position:absolute;top:100%;left:50%;margin-left:-3px;display:block;width:0;height:0;border:3px solid transparent;border-top-color:{{color1_bg_hover}};content:''}
.envios-container ul.list li:hover .name{opacity:1;visibility:visible;-webkit-transform:translateX(-50%) scale(1);transform:translateX(-50%) scale(1)}
.footer-copy{font-size:12px;color:#777}
.footer-copy p{margin-bottom:5px}
.footer-copy p:last-child{margin-bottom:0}

/*floater*/
#floater-block .std{overflow:visible}
#floater-block .bg-fill .std{padding:0}
.floater.style-form .newsletter{padding:0 20px 20px;line-height:1em;font-size:15px;color:#666;text-align:center}
.floater.style-form .newsletter form{margin:5px -5px -5px;display:-webkit-flex;display:flex}
.floater.style-form .newsletter label{display:none}
.floater.style-form .newsletter form > div{padding:5px}
.floater.style-form .newsletter .input-box{width:auto}
.floater.style-form .newsletter .name,
.floater.style-form .newsletter .gender{-webkit-flex:1 1 50%;flex:1 1 50%}
.floater.style-form .newsletter .email{-webkit-flex:1 1 auto;flex:1 1 auto}
.floater.style-form .newsletter .submit{-webkit-flex:0 0 auto;flex:0 0 auto}
.floater.style-form .newsletter .gender{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:flex-end;justify-content:flex-end}
.floater.style-form .newsletter .gender label{display:block;margin-left:10px}
.floater.style-form .newsletter .button{padding-left:20px;padding-right:20px;height:40px;line-height:36px}

/*Responsivo - Tablets*/
@media only screen and (max-width:992px){
    /*icons*/
    .header .main-menu nav:before,
    .block-account a:before,
    .block-account .block-title:before{font-family:'biz_icons',sans-serif;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

    /*estrutura*/
    .header,
    .main,
    .footer,
    #news-footer .newsletter,
    .breadcrumbs-container{min-width:0;width:auto;margin-left:20px;margin-right:20px}
    .col-left{width:calc(25% - 10px)}
    .col2-left-layout .col-main{width:calc(75% - 10px)}


	/*home*/
	.home-grid .home-side-menu{display:none}
	.home-grid .main-banner{margin:0 0 20px}
	.home-grid .banner-regua{margin:0}
	.brands .bx-wrapper:hover a,
	.brands .bx-wrapper:hover a:hover{opacity:1}

	/*laterais*/
	.block-layered-nav .configurable-swatch-list li{-webkit-flex:0 1 33.333%;flex:0 1 33.333%}

	/*product-collection*/
	.product-collection-container.carroussel > main{margin:0 40px}
	.product-image-container{display:-webkit-flex;display:flex;-webkit-justify-content:flex-end;justify-content:flex-end;margin-bottom:20px}
	.product-collection .owl-item li.item,
	.col1-layout .product-collection .owl-item li.item,
	.col2-left-layout .product-collection .owl-item li.item,
	.col2-right-layout .product-collection .owl-item li.item,
	.col3-layout .product-collection .owl-item li.item{width:auto;margin:0 10px}

	/*product view*/
	.product-essential .product-shop .col1{margin:0}
	.product-essential .product-shop .col2{width:auto;float:none;text-align:left}
	.product-essential .product-rate{display:block}
	.product-essential .product-rate .to-rate{margin:3px 0 0}
	.product-essential .price-box-avista{-webkit-justify-content:flex-start;justify-content:flex-start}
	.product-essential .tele-troca{text-align:center}
	.product-essential .parcelamento{padding-top:20px;border-top:1px solid #ccc}
	.price-as-configured{display:none}
	.product-options-bottom .price-box{display:none}

	/*product collateral*/
	.box-reviews .form-add{max-width:35%}
	.no-reviews{display:block}
	.no-reviews .be-first{margin:5px 0 0}

	/*cart*/
	.cart-table header .th.cart-total-head,
	.cart-table .cart-product-line > div.product-cart-total{display:none}
	.cart-boxes{display:block;padding:20px}
	.cart-boxes .shipping,
	.discount-coupon-form{padding:0 0 20px;margin-bottom:20px;border-bottom:1px solid #ccc}
	.cart-boxes .right{padding:0;margin:0}

	/*checkout*/
	.checkout-onepage-index .header-container{padding:0;border:0}
	.checkout-onepage-index .header .televendas{color:#666;text-shadow:none}
	.checkout-onepage-index .header .televendas strong{color:#333}
	.checkout-onepage-index .header .login-create-container{color:#666;text-shadow:none}
	.checkout-onepage-index .biz-modal-frame .modal-container .std{text-align:center}
	#checkout-step-login{margin-left:-10px;margin-right:-10px}
	#checkoutSteps .section .buttons-set button{min-width:90px;padding:0 10px;text-align:center}
	.opc-new-users,
	.opc-registered-users,
	.socialconnect-checkout{padding:0 10px}
	.socialconnect-checkout > div{float:none;width:auto;margin:0 0 10px}
	/*accordion*/
	body.osc-accordion .col-right{display:none}
	body.osc-accordion .col2-right-layout .col-main{width:100%;margin:0}
	/*etapas*/
	body.osc-steps .col-main #checkout-progress-wrapper{margin:0 0 30px}
	body.osc-steps #checkoutSteps{margin:0}
	body.osc-steps #checkoutSteps .section{padding:20px}
	body.osc-steps .opc-block-progress dt{font-size:12px}
	/*colunas*/
	body.osc-onepage #checkoutSteps > div{-webkit-flex:1 1 50%;flex:1 1 50%}

	/*success*/
	.success-content aside{-webkit-flex:0 1 25%;flex:0 1 25%}
	.success-content .ico{margin:20px 0 0;max-width:120px;max-height:120px}

	/*login*/
	.socialconnect-login .box > div{width:auto;margin:0 0 10px;float:none}
	.account-login{-webkit-flex-flow:row wrap;flex-flow:row wrap}
	body.iphone.mobile .account-login,
	body.ipad.mobile .account-login{display:block;display:box}
	.account-login > div{min-width:220px}
	.account-login .registered-users .button,
	.account-login .new-users .button{display:block;text-align:center;padding:0 10px;width:100%}

	/*minha conta*/
	.customer-account .main{display:-webkit-flex;display:flex}
	.customer-account .col-left{min-width:50px;max-width:50px;width:auto}
	.customer-account .col-main{width:auto;-webkit-flex:1 1 auto;flex:1 1 auto}
	.my-orders .item-order{-webkit-flex:0 1 50%;flex:0 1 50%}
	.my-orders .last-order{-webkit-flex:1 1 100%;flex:1 1 100%}
	.block-account{width:50px;padding:0;border-color:rgba(0,0,0,.2);background:#fff}
	.block-account .block-title{background:#f5f5f5;margin-bottom:0;height:50px;width:100%;padding-bottom:0;border-bottom:1px solid rgba(0,0,0,.1)}
	.block-account .block-title:before{height:50px;width:50px;text-align:center;font-size:20px;line-height:50px;display:block;content:'\f0c9'}
	.block-account .block-title strong{display:none}
	.block-account ul li{margin-bottom:5px}
	.block-account ul li.last{padding-top:0;border-color:rgba(0,0,0,.1)}
	.block-account a{height:40px;padding:0 10px;font-size:0;text-indent:-99999px;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;-webkit-transition:none;transition:none}
	.block-account a:before{min-height:20px;min-width:20px;font-size:20px;line-height:20px;opacity:.6;text-indent:0;text-align:center;display:block;content:'\f022'}
	.block-account a[href*='/edit']:before{content:'\f007'}
	.block-account a[href*='/address']:before{content:'\f041'}
	.block-account a[href*='/history']:before{content:'\f07a'}
	.block-account a[href*='/review']:before{content:'\f006'}
	.block-account a[href*='/wishlist']:before{content:'\f08a'}
	.block-account a[href*='/newsletter']:before{content:'\f003'}
	.block-account a[href*='/downloadable']:before{content:'\f019'}
	.block-account a[href*='/google']:before{content:'\f0d5'}
	.block-account a[href*='/facebook']:before{content:'\f09a'}
	.block-account a[href*='/linkedin']:before{content:'\f08c'}
	.block-account a[href*='/twitter']:before{content:'\f099'}
	.block-account a[href*='/logout']:before{content:'\f08b'}
	.block-account .current a:before{color:{{button_bg_hover}};opacity:1}
	.block-account.on{width:250px;border-color:rgba(0,0,0,.4)}
	.block-account.on .block-title:before{content:'\f00d';opacity:.5}
	.block-account.on a{-webkit-justify-content:flex-start;justify-content:flex-start;font-size:inherit;text-indent:0}
	.block-account.on a:before{margin-right:10px;opacity:1}
	.box-account .box-title a{min-width:60px;text-align:center;line-height:1em;padding:3px 10px}
	.addresses-additional a{white-space:normal;padding:3px 10px;text-align:center;line-height:1em}
	.my-wishlist .buttons-set{display:block}
	.my-wishlist .buttons-set button{display:block;margin:0 0 10px;width:100%;line-height:1em;padding:10px 20px;height:auto}
	.sales-order-view .title-buttons .order-status,
	.sales-order-shipment .title-buttons .order-status,
	.sales-order-invoice .title-buttons .order-status{-webkit-flex:1 1 100%;flex:1 1 100%;margin:5px 0 10px}
	#my-orders-table thead th,
	#my-orders-table tbody td{padding:15px}
	#my-orders-table thead th:nth-child(2),
	#my-orders-table > tbody td:nth-child(2),
	#my-orders-table thead th:last-child,
	#my-orders-table > tbody td:last-child{display:none}
	#my-orders-table thead th:nth-child(4),
	#my-orders-table > tbody td:nth-child(4){border-right:1px solid #eee}
	#my-orders-table tfoot th,
	#my-orders-table tfoot td{padding:20px 10px}

	/*modal*/
	.biz-modal-frame .modal-container .modal{width:90%;max-width:90%}
	.modal .video-fix-frame{width:100%}
	.biz-modal-frame .modal-close:before{display:none!important}

	/*newsletter*/
	#news-footer .title{float:none;width:auto;margin-bottom:10px;text-align:center}
	#news-footer form{margin:0}

	/*footer*/
	.footer-texto{padding-left:20px;padding-right:20px}

    /*floater*/
	.floater.style-form .newsletter .button{padding:0;width:40px;-webkit-flex:0 0 40px;flex:0 0 40px}
	.floater.style-form .newsletter .button:before{content:'ok'}
	.floater.style-form .newsletter .button span{display:none}
}

/*Smartphones - Landscape*/
@media only screen and (max-width:768px){
    /*estrutura*/
    .header,
    .main,
    .footer,
    #news-footer .newsletter,
    .breadcrumbs-container{margin-left:10px;margin-right:10px}
    select{padding:0 5px;line-height:30px}

    /*floater*/
    #floater-block .floater{max-height:none;max-width:90%;z-index:90}
    #floater-block .floater-close{margin-bottom:1rem;width:30px;height:30px}


	/*home*/
	.home-grid{margin-bottom:20px}
	.home-grid .banner-regua{display:none}
	.brands{padding:20px 0;margin:0 -10px}
	.brands:before{left:0}
	.brands:after{right:0}
	.brands .bx-controls-direction{display:none}
	.home-mini-banners .widget{margin:-5px}
	.home-mini-banners .widget > *{padding:5px}

	/*catalogo*/
	.category-description,
	.toolbar .view-mode{display:none!important}
	.toolbar .sort-by{margin:0;display:block}
	.toolbar .sort-by select{width:100%}

	/*listagem*/
	.price-box-avista{display:block}
	.price-box-avista .label{display:block;margin:0 0 3px;max-width:none;text-align:inherit}

	/*produto*/
	.product-essential .product-img-box{width:60%}
	.product-essential .product-img-box .product-image{width:auto;height:auto;padding:0 0 1px;margin:0 0 0 50px}
	.product-essential .product-img-box .more-views{width:40px}
	.product-essential .product-video,
	.product-video .video-thumb{height:40px;min-height:40px}
	.product-video .play .ico{width:26px;height:26px}
	.product-essential .product-image-thumbs li{width:40px}
	.product-essential .product-shop{margin-left:calc(60% + 20px)}
	.box-reviews .rating-excerpt{display:none}
	.catalog-product-view .breadcrumbs-container li:nth-last-child(2) .sep,
	.breadcrumbs-container li.product{display:none}

	/*carrinho*/
	.checkout-cart-index .page-title{float:none;width:auto}
	.wrap-links.top{display:none}
	.cart-table header .th.cart-product-head span:after{content:'s'}
	.cart-table header .th.cart-price-head,
	.cart-table header .th.cart-qty-head{display:none}
	.cart-table .cart-product-line{-webkit-flex-flow:row wrap;flex-flow:row wrap;margin:0 0 15px;padding:0 0 15px;border-bottom:1px solid #ccc}
	.cart-table .cart-product-line:last-child{border:0;padding:0;margin:0}
	.cart-table .cart-product-line > div{-webkit-flex:0 1 auto;flex:0 1 auto}
	.cart-table .cart-product-line > div:first-child{padding:10px;-webkit-flex:1 1 100%;flex:1 1 100%;-webkit-align-items:flex-start;align-items:flex-start}
	.cart-table .btn-remove{min-width:20px;max-width:20px;margin-left:5px;text-align:center}
	.cart-boxes .shipping-postcode .input-box,
	.cart-boxes .shipping-postcode input{max-width:150px}
	.cart-boxes .shipping-form .buttons-set{min-width:100px;-webkit-flex:1 0 auto;flex:1 0 auto}
	.discount-coupon-form .title{line-height:1em}
	.wrap-links .btn-continue,
	.wrap-links a{max-width:100px;text-align:left;font-size:12px;line-height:1em}
	.discount-form.active{display:block}
	.discount-form .input-box{margin:5px 0 0}

	/*opc*/
	.checkout-onepage-index .header-container{margin-bottom:20px}
	.checkout-onepage-index .header{padding:10px 0;-webkit-justify-content:center;justify-content:center}
	.checkout-onepage-index .header .logo-container{margin:0;-webkit-flex:0 1 auto;flex:0 1 auto}
	.checkout-onepage-index .header .login-create-container,
	.checkout-onepage-index .header .televendas{display:none}
	.opc-registered-users{-webkit-flex:1 1 100%;flex:1 1 100%;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #ccc}
	.opc-new-users,
	.socialconnect-checkout{-webkit-flex:1 1 50%;flex:1 1 50%}
	.cardGrid{margin:-5px}
	.cardGrid .input-box{padding:5px}
	.cardGrid .exp,
	.cardGrid .cod{-webkit-flex:1 1 50%;flex:1 1 50%}
	.cardGrid .pars{-webkit-flex:1 1 100%;flex:1 1 100%}
	.flag-selection-entry{margin-bottom:10px}
	.flag-selection-entry .input-box{-webkit-flex:1 1 100%;flex:1 1 100%}
	.card-flags{display:none}
	.checkout-review-table > thead th:not(:first-child):not(:nth-child(2)),
	.checkout-review-table > tbody td:not(:first-child):not(:nth-child(2)){display:none}
	/*steps*/
	body.osc-steps .step-title h2{font-size:18px}
	body.osc-steps .opc-block-progress dt{font-size:10px;line-height:10px;display:block}
	body.osc-steps .opc-block-progress dt .changelink{display:block;margin:5px}
	body.osc-steps .opc-block-progress dt a{margin:0}
	body.osc-steps .card-entry{margin-left:-20px!important;margin-right:-20px!important}

	/*conta*/
	body:not(.sales-order-history) .my-orders .item-order:not(:first-child){display:none}
	.order-details #my-orders-table thead th:nth-child(4),
	.order-details #my-orders-table tbody td:nth-child(4){display:none}
	.col4-set{-webkit-flex-flow:row wrap;flex-flow:row wrap}
	.col4-set>div{-webkit-flex:1 1 50%;flex:1 1 50%;margin:0}
	.form-list .customer-dob{-webkit-flex-flow:row wrap;flex-flow:row wrap}

	/*newsletter*/
	#news-footer form{height:auto;display:-webkit-flex;display:flex;margin:-5px;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:center;align-items:center}
	#news-footer div.name,
	#news-footer div.email{position:static;-webkit-flex:1 1 50%;flex:1 1 50%;padding:5px;-webkit-order:1;order:1}
	#news-footer div.name input,
	#news-footer div.email input{width:100%}
	#news-footer div.gender{-webkit-flex:1 1 auto;flex:1 1 auto;padding:5px;-webkit-order:2;order:2}
	#news-footer div.submit{position:static;min-width:110px;padding:5px;-webkit-order:2;order:2}

	/*footer*/
	.footer-texto{padding:20px;margin-bottom:20px}
	.footer-4cols{margin:-10px -10px 10px;padding:0 0 10px;-webkit-flex-flow:row wrap;flex-flow:row wrap}
	.footer-4cols .col{margin:0;padding:10px}
	.footer-2cols{padding:0 0 10px;-webkit-flex-flow:row wrap;flex-flow:row wrap;margin:-10px -10px 10px}
	.footer-2cols .col{margin:0;padding:10px}
	.pagtos-container ul.list,
	.envios-container ul.list{-webkit-flex-flow:row wrap;flex-flow:row wrap;margin:-5px}
	.pagtos-container ul.list li,
	.envios-container ul.list li{margin:0;padding:5px}
	.pagtos-container ul.list li .icon svg,
	.envios-container ul.list li .icon svg{height:20px}

	/*blog*/
	.the-post .thumbnail{float:none}
	.the-post main{margin:20px 0 0}

	/*glossario*/
	.glossary-navigation ul{margin:-5px;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:flex-start;justify-content:flex-start}
	.glossary-navigation ul li{-webkit-flex:0 1 auto;flex:0 1 auto;min-width:40px;margin:5px!important}
}

/*Smartphones - Portrait*/
@media only screen and (max-width:500px){
    /*icon*/
    .box-reviews .form-add.on .subtitle:before{font-family:'biz_icons',sans-serif;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}


	/*home*/
	.home-mini-banners .widget > *{-webkit-flex:1 1 100%;flex:1 1 100%}

	/*listagem*/
	.product-collection article{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center}
	.product-collection article header{margin:0;min-width:calc(40% - 10px);max-width:calc(40% - 10px)}
	.product-collection article main{margin:0 0 0 20px;-webkit-flex:1 1 auto;flex:1 1 auto}
	.product-collection .product-link{display:-webkit-flex;display:flex;-webkit-flex-flow:column nowrap;flex-flow:column nowrap}
	.product-collection .product-image{margin:0;-webkit-order:2;order:2}
	.product-collection .configurable-swatch-list{display:none}
	.product-collection .price-box-avista{display:block}
	.block-layered-nav .block-title{display:inline-block;padding:0 20px;line-height:40px;text-transform:uppercase;font-size:14px;text-shadow:0 1px 1px rgba(0,0,0,.3);border-radius:3px;color:{{color1_font}};background:{{color1_bg}}}
	.block-layered-nav .filters-list{display:none}
	.block-layered-nav.on .block-title span{display:none}
	.block-layered-nav.on .block-title:before{content:'Ocultar'}
	.block-layered-nav.on .filters-list{display:block}

	/*catalogo*/
	.page-title h1{font-size:22px;white-space:normal;line-height:1em}
	.col-left,
	.col-right{float:none;width:auto;margin:0 0 20px}
	.sidebar > *{display:none}
	.sidebar > .block-layered-nav{display:block}
	.col2-left-layout .col-main,
	.col2-right-layout .col-main{float:none;width:auto;margin:0}
	.block-layered-nav .configurable-swatch-list li{-webkit-flex:0 1 20%;flex:0 1 20%}
	.product-collection article main{position:relative}
	.prolabel,
	.prolabel.top-center,
	.prolabel.middle-left,
	.prolabel.middle-right,
	.prolabel.bottom-center,
	.prolabel.middle-center,
	.prolabel.top-left,
	.prolabel.top-right,
	.prolabel.bottom-left,
	.prolabel.bottom-right{top:auto!important;bottom:100%!important;left:0!important;right:auto!important;margin:0 0 10px;-webkit-transform:translate(0,0);transform:translate(0,0)}

	/*produto*/
	.product-essential .product-img-box{float:none;width:auto;margin:0 0 20px}
	.product-essential .product-shop{margin:0}
	.collateral-tabs dt{padding:0 20px}
	.collateral-tabs dd{padding:10px}
	.box-reviews main{-webkit-flex-flow:row wrap;flex-flow:row wrap}
	.box-reviews .reviews-title{font-size:22px;line-height:1.1em}
	.box-reviews .form-add{max-width:none;-webkit-flex:1 1 100%;flex:1 1 100%;-webkit-order:-1;order:-1;margin:0 10px 20px;padding:0 0 20px;border-bottom:1px solid #ccc}
	.box-reviews .form-add .subtitle{margin:0;height:40px;line-height:40px;text-align:center;border-radius:3px;background:{{color1_bg}};color:{{color1_font}}}
	.box-reviews .form-add form{display:none;padding-top:15px}
	.box-reviews .form-add.on .subtitle{background:#f5f5f5;color:#888}
	.box-reviews .form-add.on .subtitle:before{content:'\f00d';margin-right:7px}
	.box-reviews .form-add.on form{display:block}
	.collateral-products .block-title{font-size:22px;line-height:1.1em}
	.product-collection .add-checkbox{margin:0;top:auto;bottom:20px}

	/*opc*/
	.opc-registered-users,
	.opc-new-users,
	.socialconnect-checkout{-webkit-flex:1 1 100%;flex:1 1 100%;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #ccc}
	.opc-new-users{margin-bottom:0;padding-bottom:0;border-bottom:0}
	.step form{padding:0}
	#checkout-payment-method-load > dt{font-size:16px;line-height:1em}
	.checkout-onepage-index dl.sp-methods>dd{margin-bottom:0}
	.checkout-onepage-index #checkout-shipping-method-load dl.sp-methods>dd{margin-bottom:20px}
	#checkout-payment-method-load > dd{padding:0 19px}
	.card-entry{padding:15px}
	.bcashGrid{display:block}
	.bcashGrid .ico{margin-bottom:10px}
	.cardGrid .num,
	.cardGrid .nome,
	.cardGrid .exp,
	.cardGrid .cod{-webkit-flex:1 1 100%;flex:1 1 100%}
	.checkout-review-table > thead th:not(:first-child),
	.checkout-review-table > tbody td:not(:first-child){display:none}
	#checkoutSteps .section #checkout-review-submit .buttons-set .f-left{display:none}
	#checkoutSteps .section #checkout-review-submit .buttons-set button{margin:0;-webkit-flex:1 1 auto;flex:1 1 auto}
	/*accordion*/
	body.osc-accordion #checkoutSteps .section{padding:10px}
	/*onepage*/
	body.osc-onepage #checkoutSteps{display:block;margin:0}
	body.osc-onepage #checkoutSteps > div{width:100%;padding:0;margin:0 0 20px}
	body.osc-onepage #checkoutSteps .section{margin-bottom:20px}
	body.osc-onepage .step-title{margin:0}
	body.osc-onepage .step.a-item{padding-top:15px}
	body.osc-onepage #checkoutSteps .section.allow .step.a-item{display:none!important}
	body.osc-onepage #checkoutSteps .section.active .step.a-item{display:block!important}
	body.osc-onepage .card-entry{margin:0 -20px;padding:15px;width:calc(100vw - 20px);}
    /*Mundipagg*/
	#payment_form_mundipagg_api_doiscartoes .cardGrid{display:block}
	#payment_form_mundipagg_api_doiscartoes .valor-card{display:block}
	#payment_form_mundipagg_api_doiscartoes .valor-card input{margin:5px 0 0}

	/*conta*/
	.sidebar > .block-account{display:block}
	.customer-account .col-left{margin:0 10px 0 -10px}
	.box-account .col2-set{display:block}
	.box-recent .box-head,
	.box-address .box-head{display:block}
	.box-recent .box-head:before,
	.box-address .box-head:before{display:none}
	.box-recent .box-head a,
	.box-address .box-head a{margin:5px 0 0;display:inline-block}
	.form-list .fields{margin:-5px -5px 5px}
	.form-list .fields>*,
	.form-list .fields>.customer-name>*{padding:5px}
	.form-list .fields.tipopessoa label{padding:0 10px}
	.form-list .fields.tipopessoa label input{display:none}
	.form-list .wide label,
	.form-list .field label{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
	.form-list .customer-dob>div{margin-left:5px}
	.form-list .customer-dob input{padding:5px 0;text-align:center}
	.title-buttons{display:block}
	.col2-set.addresses-list{display:block}
	.addresses-primary h3{line-height:1em}
	.my-orders .item-order{-webkit-flex:1 1 100%;flex:1 1 100%}
	.order-date{font-size:12px}
	.order-info-box{display:block}
	.sales-order-view .title-buttons a,
	.sales-order-shipment .title-buttons a,
	.sales-order-invoice .title-buttons a{white-space:nowrap}
	.socialconnect-account .col2-set{display:block}
	.socialconnect-account .col2-set > div{padding:10px 0}

	/*success*/
	.success-content{display:block;padding-top:0}
	.success-content aside{margin:0 0 20px}
	.success-content .confirmation,
	.success-content .print{display:block}

	/*footer*/
	.footer-4cols .col{-webkit-flex:1 1 50%;flex:1 1 50%}
	.footer-2cols .col{-webkit-flex:1 1 100%;flex:1 1 100%}
}
/* FIM Editable */
