/*
* Utilities
*/
/*
* Libraries
*/

/**
* Mixins - Font-weight
*/
/**
* Mixins - Viewport
*/

/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Base
* Estilo base do elementos do Html
*/

/*
* Module - Messages
*/
.messages > li {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.messages .success-msg {
  border: 1px solid #2baf60;
  background: #c8efc0;
  color: #1d904b;
}
.messages .error-msg {
  border: 1px solid #d92100;
  background: #ffdcdc;
  color: #d92100;
}
.messages .notice-msg {
  border: 1px solid #f7be07;
  background: #f9f0d5;
  color: #f7be07;
}

/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/

/*
* State
* Estado global do Layout
*/

/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
