/*
* Utilities
*/
@import '../node_modules/nib'

/*
* Libraries
*/
@import url("//fonts.googleapis.com/css?family=Exo+2:400,500italic,600,500,400italic,600italic,700,300italic,300|Titillium+Web:400,600");

/**
* Mixins - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
extra = 800

/**
* Mixins - Viewport
*/
viewport = 980
sidebar =  220
gutter =   30

/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 480px and down)
screen-xs = 480px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Base
* Estilo base do elementos do Html
*/
body
  font-style italic
  font-weight semibold

/*
* Global
* Classes globais que devem ser extendidas por componentes
*/

/*
* Layout - Container
*/
.container
  min-width 0px
  max-width unit(viewport, px)
  width auto
  margin 0 auto

/*
* Module - Dropdown
* &:hover - Deve mostrar o .dropdown-content
*/
.dropdown
  position relative
  &:hover
    .dropdown-content
      display block

.dropdown-content
  display none
  position absolute
  left 0px
  top 100%
  z-index 9999999
  width auto


/*
* Module - Buttons
*/
.button
  height auto
  border-radius 3px
  box-shadow inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2)
  &.medium
    font-size 20px
    font-weight 800
    font-style italic
    line-height 15px
    padding 9px 32px 11px 32px
    span
      line-height 15px
  &.cta
    background unquote($button_bg)
    color #ffffff
  &.sec
    background unquote($color1_bg)
    color #fff

/*
* Modules
* Componentes que se adaptam ao contexto
*/


/*
* Module - Messages
*/
.messages{
  > li{
    display block
    padding 10px 20px
    margin-bottom 20px
    font-size 14px
  }
  .success-msg{
    border 1px solid #2baf60
    background #c8efc0
    color #1d904b
  }
  .error-msg{
    border 1px solid #d92100
    background #ffdcdc
    color #d92100
  }
  .notice-msg{
    border 1px solid #f7be07
    background #f9f0d5
    color #f7be07
  }
}

/*
* Module - Welcome
*/
.login-create-container
  .login-create
    color #666666
    font-size 12px
    font-weight regular
    color #666666
    height auto
    a
      color #666666
      font-weight semibold

/*
* Module - Carrinho
*/
.mycart-container
  .mycart
    > a
        background none
        box-shadow none
        padding-left 52px
        width auto
        height auto
        position relative
        &:before
          content ''
          background unquote($color1_bg_hover)
          border-radius 50%
          display block
          height 40px
          width 40px
          position absolute
          left 0px
        .icon
          width 22px
          height 20px
          top initial
          margin 0px
          left 9px
          top 11px
        > .qtd
            left 28px
            width 17px
            height 17px
            background #ffa200
            font-size 11px
        .txt
          width auto
          color unquote($color1_bg_hover)
          text-align left
          font-size 16px
          padding-top 6px
          .qtd
            width auto
            height auto
            background none
            color unquote($color1_bg_hover)
            position static
            text-align left
            font-size 12px
            padding-top 5px
            line-height 12px

/*
* Module - Busca
*/
.search-container
  .input-box
    .search-label
      display none
    .search-input
      border none
      padding 0px
      height auto
      line-height initial
      box-shadow none
      font-weight medium
      font-size 13px
      text-transform uppercase
      font-style italic
      color #666666
      background #f3f3f3
      height 40px
      padding 0px 14px
  /*
  * &:hover - Icone deve ficar branco
  */
  .search-button
    display flex
    align-items center
    justify-content center
    height 40px
    line-height initial
    width auto
    &:hover
      .ico
        fill #fff
    span
      line-height initial
    .ico
      width 15px
      height 15px
      fill unquote($color1_bg_hover)
      display inline-block

/*
* Module - Call center
* header.header & - Sobrescreve propriedades
*/
.call-center
  header.header &
    font-size 12px
    line-height 9px
    font-weight medium
    padding 0px
    height auto
    display flex
    flex-flow row wrap
    align-items center
    padding-right 3px
    strong
      font-weight semibold
      font-size 16px
      line-height 15px
      margin-left 7px
      &:first-child
        margin-right 7px

/*
* Module - Compare
* &:not(.hasproducts) - Diminui o padding do botão
*/
.compare-container
  display table
  .compare
    display table
    header
      display none
    main
      display table
    .content
      display table
    .amount
      display none
    .compare-items
      display none
    .actions
      display table
      a
        display none
    .button
      border-radius 20px
      font-size 12px
      font-weight semibold
      font-style italic
      text-transform uppercase
      color #fff
      box-shadow none
      padding 0px
      line-height 20px
      padding 0px 14px
      display block
      height auto
      background #333333 embedurl('../img/arrow-up-icon.svg') no-repeat 14px 5px
      padding-left 29px
  &:not(.hasproducts)
    .compare
      .button
        padding-left 26px
        background-position 12px 5px


/*
* Module - Header
*/
header.header
  padding-bottom 0px
  //box-shadow inset 0 43px 0 #ffffff, inset 0 44px 0 #eeeeee
  align-items flex-start
  justify-content flex-end
  .login-create-container
    margin-top 14px
    order 1
  .compare-container
    margin-top 12px
    order 2
    margin-right 20px
  .call-center
    margin-top 14px
    order 3
  .before
    flex 0 1 840px
    border-top 1px solid #eeeeee
    margin-top 12px
    margin-bottom 20px
  .logo-container
    margin-top -41px
    margin-right 28px
  .search-container
    margin-left 0px
    margin-right 28px


/*
* Module - Header Container
*/
.header-container
  box-shadow none

/*
* Module - Menu configurável
* .menu-principal &
*/
.mb-menu
  .menu-principal &
    background #000
    padding 20px 33px 12px 18px
    li
      margin-bottom 20px
      a
        font-size 14px
        text-transform uppercase
        color #fff
        display block
        line-height 14px


/*
* Module - Menu categories
* &.vertical - Deve ser igual o Menu configurável
* &.normal -
*/
.main-menu
  &.vertical
    ul.level0
      @extend .menu-principal .mb-menu
    /*
    * li.level0
    * &:hover - Reseta o estilo do tema da a.level0
    */
    li.level0
      @extend .menu-principal .mb-menu li
      &:hover
        a.level0
          background none
    a.level0
      padding 0px
      background none
      width auto
      display block
      @extend .menu-principal .mb-menu li a
      .name
        font-size inherit
  &.normal
    /*
    * li.level0
    * &.all - Deve dar espaço livre ao div.level0
    */
    li.level0
      padding-bottom 0px
      &.all
        div.level1
          width auto
    a.level0
      height auto
      min-height 50px
      padding 0px 20px
      .name
        .icon
          width 20px
          height 17px
          fill #fff

/*
* Module - Marcas
*/
.brands-container
  margin 0px
  &.list
    .brands
      padding 0px
      > .list
          margin 0px
  .brands
    border none
    .marca_nome
      display none
    img
      max-width 100%
  .wrapper > &
    background #fff
    border 1px solid #cccccc
    border-width 1px 0px 1px 0px
    box-shadow 0px 3px 0px 0px rgba(0, 0, 0, 0.07)
    .brands
      @extend .container
      .item
        max-width 190px
        margin 0px 12px
  .menu-principal &
    .brands
      > .list
          justify-content flex-start
          padding 10px
          min-width 500px
          .item
            border 1px solid #dddddd
            border-width 0px 1px 1px 0px
            padding 15px
            margin 0px !important
            flex 0 0 120px
            height 60px
            &:nth-child(4n)
              border-right none
            &:nth-last-child(-n+4)
              border-bottom none



/*
* Module - filter_menu
*/
.filter_menu
  background unquote($color1_bg_hover)
  display flex
  flex-flow row wrap
  align-items center
  padding 0px 6px 0px 33px
  /*
  * &:before -  Setinha do select cima
  * &:after -  Setinha do select baixo
  * &:first-child - Tem margem para direita maior
  */
  fieldset
    vertical-align middle
    position relative
    margin-right 18px
    &:first-child
      margin-right 29px
    &:before, &:after
      content ''
      background #fff
      position absolute
      background #fff embedurl('../svg/arrow-down-icon.svg') no-repeat center center
      background-size 6px 5px
      border-radius 0px 0px 5px 5px
      box-shadow 0 2px 3px rgba(0,0,0,.3)
      height 10px
      width 10px
    &:before
      right 0px
      top 1px
      transform rotate(180deg)
    &:after
      right 0px
      bottom 1px
    .label-text
      color rgba(#ffffff, .7)
      font-size 10px
      line-height 10px
      display inline-block
      width 30px
      text-align right
      margin-right 10px
      text-transform uppercase
    select
      appearance none
      background none
      border-radius 0px
      border none
      font-size 17px
      font-style italic
      color #ffffff
      text-transform uppercase
      box-shadow none
      height 21px
      width auto
      min-width 90px
      display inline-block
      position relative
      font-weight semibold
      z-index 1
      letter-spacing 1px
  input[type=submit]
    width 26px
    height 26px
    border-radius 50%
    display block
    padding 0px
    text-align center
    background #fff
    box-shadow none
    color #c60c30
    font-style italic
    text-shadow none

/*
* Module - Menu Principal
*/
.menu-principal
  background unquote($color1_bg)
  display flex
  flex-flow row wrap
  justify-content center
  align-items stretch
  position relative
  &:after
    content ''
    width 100%
    background unquote($color1_bg_hover)
    display block
    height 100%
    position absolute
    bottom 0px
  > .main-menu
      z-index 25
  /*
  * .item
  * &.brands - Reseta borda da classe brands
  */
  > .item
      padding 10px 20px 0px 20px
      background unquote($color1_bg)
      &:hover
        background #000
      .text
        font-size 12px
        color #fff
        text-transform uppercase
        font-style italic
        padding-bottom 10px
        display block
        cursor pointer
        strong
          font-weight 800
          background embedurl('../img/arrow-down-icon.svg') no-repeat center right
          padding-right 20px
          display table
          font-size 18px
      &.brands
        border none
        .dropdown-content
          background #fff
          box-shadow 0px 0px 10px 0px rgba(0, 0, 0, 0.3)

/*
* Module - Product-name
* .product-collection & - Tamanho pequeno sem italico
*/
.product-name
  .product-collection &
    font-style normal
    font-size 16px
    line-height 14px

/*
* Module - Price-box
* .product-collection & - Configura fonte pequena
*/
.price-box
  > .price
      color #000000
      font-weight medium
      font-style normal
  .regular-price, .special-price, .minimum-price
    .price
      color #000000
      font-weight medium
      font-style normal
    .label
      display none
  .product-collection &
    > .price
        font-size 15px
    .regular-price, .special-price, .minimum-price
      font-size 15px


/*
* Module - Price-box-avista
* .product-collection & - Estiliza para a coleção
*/
.price-box-avista
  .price
    color unquote($color1_bg)
    font-style normal
  .product-collection &
    padding 0px
    text-align center
    border 1px dotted #eeeeee
    border-left none
    border-right none
    padding 8px 0px
    align-items flex-start
    justify-content center
    .label
      font-size 8px
      text-transform uppercase
      width 47px
      color #666666
      line-height 11px
    .price
      font-size 22px
      line-height 21px
      text-align left
      flex 0 0 auto
      span
        line-height 21px

/*
* Module - Price box parcelado
*/
.price-box-parcelado
  .preco-parcelado-sem-juros, .preco-parcelado
    font-weight medium
    font-size 14px
    color #666666
    font-style normal
    .value, .num
      font-weight normal
      color #666666
      text-transform uppercase
      span
        color inherit
    .upto
      display none
    .s-juros
      display none
  .preco-parcelado
    display none


/*
* Module - .product-link
*.product-collection & - Deve zerar a margem padrão de product name
*/
.product-link
  .product-collection &
    .product-name
      margin-bottom 0px


/*
* Module - Link compare
*/
.link-compare
  @extend.button
  @extend.button.sec
  color #fff
  font-size 12px
  line-height 10px
  font-weight bold
  text-transform uppercase
  padding 6px 25px 9px 25px
  display flex
  justify-content space-between
  span
    flex 0 0 84px
  &:before
    content ''
    flex 0 0 18px
    height 18px
    display inline-block
    background embedurl('../img/arrow-elipse.svg') no-repeat center center


/*
* Module - Bt Comprar
* .product-collection & - Botão deve ser médio
*/
.btn-cart
  @extend .button.cta
  .product-collection &
    background unquote($button_bg)
    @extend .button
    @extend .button.medium


/*
* Module - product-collection
*/
.product-collection
  ul.list
    /*
    * li.item
    * &:hover - Deve mostrar os botões e a imagem deve ficar mais clara
    */
    li.item
      text-align center
      &:hover
        .actions
          display block
        .product-image
          opacity 0.7
      article
        position relative
        .actions
          display none
          position absolute
          top 55px
          left calc(50% - 80px)
          max-width 160px
          a, button
            margin-bottom 5px


/*
* Module - Product collection container
*/
.product-collection-container
  > header
      border-bottom 1px solid #999999
      padding-bottom 9px
      .title
        font-weight semibold
        color #333333

/*
* Module - Home mini Banners
*/
.home-mini-banners
  display block
  .widget
    display block
    margin 0px
    p
      padding 0px
      display flex
      flex-flow row wrap
      justify-content space-between
      a
        flex 0 0 480px

/*
* Module - footer-texto
*/
.footer-texto
  margin-bottom 0px
  color #cccccc
  font-size 14px
  font-weight regular
  font-style italic
  padding 0px
  background #fff
  .widget
    @extend .container
    padding 40px 148px

/*
* Module - Newsletter-container
*/
.newsletter-container
  background #333333
  .newsletter
    display flex
    flex-flow row wrap
    justify-content space-between
    padding 14px 14px 12px 10px
    @extend .container
    .message
      flex 1 1 300px
      display flex
      align-items center
      justify-content space-between
      margin-right 28px
      .icon
        fill #fff
        width 53px
        flex 0 0 53px
        height 37px
        position relative
      .title
        font-style normal
        font-weight medium
        font-size 14px
        text-transform uppercase
        color #fff
        margin-left 20px
    .form-newsletter-footer
      display flex
      flex-flow row wrap
      flex 1 1 620px
      align-items center
      .input-box
        margin-right 10px
        input
          height 35px
          padding 0px 10px
          border-radius 3px
          border none
          box-shadow none
          font-weight medium
          font-size 13px
          font-style italic
          color #666666
          text-transform uppercase
        &.name
          flex 1 1 230px
          width auto
        &.email
          flex 1 1 320px
          width auto
      .submit
        flex 0 0 30px
        width auto
        margin 0px
        margin-left 6px
        button
          padding 0px
          background unquote($color1_bg)
          border-radius 50%
          box-shadow none
          width 30px
          height 30px
          font-style italic
          font-size 14px

/*
* Module - Ftitle
*/
.ftitle
  .footer &
    font-style normal
    font-size 16px
    font-weight semibold

/*
* Module - Footer
*/
.footer
  @extend .container
  .footer-4cols, .footer-2cols, .footer-3cols
    margin 0px
    border-bottom 1px solid #ececec
    .col
      margin 50px 20px
  .tele
    font-style normal
    color unquote($color1_bg)
  .mb-menu
    li
      a
        font-style normal
        color #666666
        font-size 14px
        font-weight medium

/*
* Module - footer-3cols
*/
.footer-3cols
  display flex
  flex-flow row wrap
  justify-content space-between
  .col
    flex 1 1 unit(viewport/3, px)
    margin-left 0px !important
    margin-right 0px !important
    padding 0px

/*
* Module - Footer copy
*/
.footer-copy
  background #fff
  padding 28px 0px 72px 0px

/*
* Module - Footer container
*/
.footer-container
  margin 0px
  padding 0px

/*
* Module - Breadcrumbs
*/
.breadcrumbs-container
  padding 17px 0px
  .breadcrumbs
    li
      a,strong, .sep
        color #666666
        font-weight medium
        font-size 13px

/*
* Module - Menu lateral
*/
.block-layered-nav .currently, .block-layered-nav .filters-list .item
  border-radius 3px
  box-shadow none
  .filter-name, .block-subtitle
    color #333333
    font-style italic
    font-size 16px
    overflow visible
    margin-right 0px
  .the-filters
    li
      .a-filter
        color #666666
        font-size 14px
        font-style normal
        font-weight normal
      .count
        display none
  .text
    color #666666
    font-size 14px
    font-style normal
    font-weight normal
    .label
      font-weight semibold

/*
* Module - Page title
*/
.page-title
  h1
    color #666666
    font-size 32px
    font-weight bold
    font-style italic

/*
* Module - Descrição da categoria
*/
.category-description
  background #f6f6f6
  padding 37px
  border none
  font-weight regular

/*
* Module - Toolbar
* .toolbar-bottom &
*/
.toolbar
  .sorter
    display flex
    .view-mode
      font-size 15px
      color #373435
      font-weight regular
      font-style italic
      display flex
      flex-flow row wrap
      label
        order 1
        font-size 15px
      .list
        order 2
      .grid
        order 3
    .sort-by
      select
        box-shadow none
        border-radius 1px
        color #666666
        font-size 14px
        font-weight regular
  .toolbar-bottom &
    border 1px dashed #cccccc
    border-left none
    border-right none
    padding 8px 2px
    display flex
    align-items center
    justify-content space-between
    .amount, .total, .from, .to
      color #666666
      font-size 15px
      font-weight regular
      line-height initial
    .sorter
      display none
    .pager
      ol
        .current
          span
            border-radius 50%
            width 25px
            height 25px
            text-align center
            background unquote($color1_bg)
            font-style normal

/*
* Module -
*/
.actions
  .sidebar .currently &
    .clear-all
      font-weight regular
      font-size 14px
      background none
      color #666666

/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/

/*
* Layout - Header container
*/
.header-container
  header.header
    @extend .container

/*
* Layout - .wrapper
*/
.wrapper
  .header-container
    margin-bottom 25px
  .menu-principal
    position relative
    z-index 29
  .banner-js-container
    z-index 20
  .main-container
    .main
      @extend .container
  .banner-js-container
    margin-top -32px
    margin-bottom 42px
  > .brands-container
      margin-bottom 3px
  .breadcrumbs-container
    @extend .container
    margin-bottom 13px
  .menu-principal+.widget
    text-align center
    background #000


/*
* Module - Main
*/
.main
  .col2-left-layout &
    .col-left
      width auto
      max-width 220px
      min-width 220px
    .col-main
      width auto
      max-width 728px
      margin-left 30px


/*
* State
* Estado global do Layout
*/

/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
.owl-carousel
  .owl-controls
    .owl-buttons
      .owl-prev, .owl-next
        border-color #cccccc
        border-style solid
        width 25px
        height 35px
        &:before
          line-height 35px
          background embedurl('../img/arrow-owl.svg') no-repeat center center
      .owl-prev
        border-radius 0px 3px 3px 0px
        border-width 1px 1px 1px 0px
      .owl-next
        border-radius 3px 0px 0px 3px
        border-width 1px 0px 1px 1px
