/*
* Utilities
*/
/*
* Libraries
*/
@font-face {
  font-family: "Determination Sans";
  src: url("/media/interface/files/determination-sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mxburd";
  src: url("/media/interface/files/mx-burd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/**
* Mixins - Font-weight
*/
/**
* Mixins - Viewport
*/
/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Base
* Estilo base do elementos do Html
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("@file(body-bg)");
}
body.locked {
  overflow-y: hidden;
}
@media (max-width: 768px) {
  body {
    padding-top: 120px;
  }
}
/*
* Module - Mytitle
*/
.mytitle,
.product-shop .regular-price,
.product-shop .special-price,
.product-shop .product-name,
.product-collection-container > header .title,
.collateral-products > header .title,
.product-collection-container > header .block-title,
.collateral-products > header .block-title,
.page-title h1,
.product-options dt,
.product-options dt .select-label,
.box-reviews .reviews-title {
  font-weight: bolder;
  text-shadow: 0px 5px 0px rgba(0,0,0,0.1);
  line-height: initial;
}
.mytitle.lg,
.product-shop .regular-price.lg,
.product-shop .special-price.lg,
.product-shop .product-name.lg,
.product-collection-container > header .title.lg,
.collateral-products > header .title.lg,
.product-collection-container > header .block-title.lg,
.collateral-products > header .block-title.lg,
.page-title h1.lg,
.product-options dt.lg,
.product-options dt .select-label.lg,
.box-reviews .reviews-title.lg,
.product-collection-container > header .title,
.collateral-products > header .title,
.product-collection-container > header .block-title,
.collateral-products > header .block-title,
.page-title h1 {
  font-family: 'Mxburd', sans-serif;
  font-weight: 500;
  font-size: 90px;
  line-height: 64px;
  text-shadow: 0px 5px 0px rgba(0,0,0,0.1);
}
.mytitle.md,
.product-shop .regular-price.md,
.product-shop .special-price.md,
.product-shop .product-name.md,
.product-collection-container > header .title.md,
.collateral-products > header .title.md,
.product-collection-container > header .block-title.md,
.collateral-products > header .block-title.md,
.page-title h1.md,
.product-options dt.md,
.product-options dt .select-label.md,
.box-reviews .reviews-title.md,
.product-shop .product-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  color: @bg(1);
}
.mytitle.sm,
.product-shop .regular-price.sm,
.product-shop .special-price.sm,
.product-shop .product-name.sm,
.product-collection-container > header .title.sm,
.collateral-products > header .title.sm,
.product-collection-container > header .block-title.sm,
.collateral-products > header .block-title.sm,
.page-title h1.sm,
.product-options dt.sm,
.product-options dt .select-label.sm,
.box-reviews .reviews-title.sm,
.product-shop .regular-price,
.product-shop .special-price,
.product-options dt,
.product-options dt .select-label {
  font-size: 26px;
  text-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}
.mytitle.xs,
.product-shop .regular-price.xs,
.product-shop .special-price.xs,
.product-shop .product-name.xs,
.product-collection-container > header .title.xs,
.collateral-products > header .title.xs,
.product-collection-container > header .block-title.xs,
.collateral-products > header .block-title.xs,
.page-title h1.xs,
.product-options dt.xs,
.product-options dt .select-label.xs,
.box-reviews .reviews-title.xs {
  font-size: 60px;
  font-family: 'Mxburd', sans-serif;
  font-weight: 500;
}
.mytitle.pri,
.product-shop .regular-price.pri,
.product-shop .special-price.pri,
.product-shop .product-name.pri,
.product-collection-container > header .title.pri,
.collateral-products > header .title.pri,
.product-collection-container > header .block-title.pri,
.collateral-products > header .block-title.pri,
.page-title h1.pri,
.product-options dt.pri,
.product-options dt .select-label.pri,
.box-reviews .reviews-title.pri {
  color: @bg(2);
}
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=range],
input[type=date],
input[type=mounth],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color] {
  border-radius: 50px;
  box-shadow: 2px 3.464px 0px 0px rgba(255,255,255,0.2);
  font-family: 'Determination Sans', cursive;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #999;
  padding: 0 0 0 22px;
}
select {
  box-shadow: 2px 3.464px 0px 0px rgba(255,255,255,0.2);
  font-size: 13px;
  color: #999;
  font-family: 'Determination Sans', cursive;
  text-transform: uppercase;
}
/*
* Global
* Classes globais que devem ser extendidas por componentes
*/
.dropdown,
.main-menu.normal li.level0.parent,
.block-layered-nav .currently > .item,
.block-layered-nav .filters-list > .item {
  position: relative;
}
.dropdown-trigger,
.main-menu.normal li.level0.parent:hover a.level0,
.mycart-container .mycart > a,
.block-layered-nav .currently > .item .filter-name,
.block-layered-nav .filters-list > .item .filter-name {
  position: relative;
  z-index: 3;
}
.dropdown-trigger:before,
.main-menu.normal li.level0.parent:hover a.level0:before,
.mycart-container .mycart > a:before,
.block-layered-nav .currently > .item .filter-name:before,
.block-layered-nav .filters-list > .item .filter-name:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #232846 transparent;
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 7px);
  z-index: 2;
  display: none;
}
.dropdown-trigger:after,
.main-menu.normal li.level0.parent:hover a.level0:after,
.mycart-container .mycart > a:after,
.block-layered-nav .currently > .item .filter-name:after,
.block-layered-nav .filters-list > .item .filter-name:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent @bg(1:hover) transparent;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(100% + 6px);
  z-index: 3;
  display: none;
}
.dropdown-trigger.active:before,
.main-menu.normal li.level0.parent:hover a.level0.active:before,
.mycart-container .mycart > a.active:before,
.block-layered-nav .currently > .item .filter-name.active:before,
.block-layered-nav .filters-list > .item .filter-name.active:before,
.main-menu.normal li.level0.parent:hover a.level0:before,
.mycart-container:hover .mycart > a:before,
.block-layered-nav .currently > .item:hover .filter-name:before,
.block-layered-nav .filters-list > .item:hover .filter-name:before,
.dropdown-trigger.active:after,
.main-menu.normal li.level0.parent:hover a.level0.active:after,
.mycart-container .mycart > a.active:after,
.block-layered-nav .currently > .item .filter-name.active:after,
.block-layered-nav .filters-list > .item .filter-name.active:after,
.main-menu.normal li.level0.parent:hover a.level0:after,
.mycart-container:hover .mycart > a:after,
.block-layered-nav .currently > .item:hover .filter-name:after,
.block-layered-nav .filters-list > .item:hover .filter-name:after {
  display: block;
}
.dropdown-content,
.main-menu.normal div.level1,
.mycart-container .mycart-dropdown-container,
.block-layered-nav .currently > .item .the-filters,
.block-layered-nav .filters-list > .item .the-filters {
  position: absolute;
  background: @bg(1:hover);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
  border-radius: 13px;
  padding: 20px;
  border: 2px solid rgba(0,0,0,0.1);
  top: calc(100% + 11px);
  z-index: 2;
  transform: translateY(-3000px);
}
.dropdown-content:before,
.main-menu.normal div.level1:before,
.mycart-container .mycart-dropdown-container:before,
.block-layered-nav .currently > .item .the-filters:before,
.block-layered-nav .filters-list > .item .the-filters:before {
  content: '';
  display: block;
  background: transparent;
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -20px;
}
.dropdown-content.active,
.main-menu.normal div.level1.active,
.mycart-container .mycart-dropdown-container.active,
.block-layered-nav .currently > .item .the-filters.active,
.block-layered-nav .filters-list > .item .the-filters.active,
.main-menu.normal li.level0.parent:hover div.level1,
.mycart-container:hover .mycart-dropdown-container,
.block-layered-nav .currently > .item:hover .the-filters,
.block-layered-nav .filters-list > .item:hover .the-filters {
  transform: translateY(0px);
}
/*
* Module - Buttons
*/
.button,
.mycart-buttons .finalizar,
.product-collection .add-to-cart,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover,
.newsletter-container .newsletter .form-news .submit .button,
.box-reviews main .form-add .subtitle,
.box-reviews main .form-add button.button,
.cart-boxes .shipping .buttons-set .button2,
.wrap-links .btn-checkout {
  border-radius: 20px;
  font-family: 'Determination Sans', cursive;
  height: auto;
  line-height: initial;
  text-align: center;
  padding: 10px 20px;
}
.button.sm,
.mycart-buttons .finalizar.sm,
.product-collection .add-to-cart.sm,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.sm,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.sm,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.sm,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.sm,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.sm,
.newsletter-container .newsletter .form-news .submit .button.sm,
.box-reviews main .form-add .subtitle.sm,
.box-reviews main .form-add button.button.sm,
.cart-boxes .shipping .buttons-set .button2.sm,
.wrap-links .btn-checkout.sm,
.product-collection .add-to-cart,
.box-reviews main .form-add .subtitle,
.cart-boxes .shipping .buttons-set .button2 {
  padding: 9px 27px;
  font-size: 13px;
  letter-spacing: 1px;
}
.button.md,
.mycart-buttons .finalizar.md,
.product-collection .add-to-cart.md,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.md,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.md,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.md,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.md,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.md,
.newsletter-container .newsletter .form-news .submit .button.md,
.box-reviews main .form-add .subtitle.md,
.box-reviews main .form-add button.button.md,
.cart-boxes .shipping .buttons-set .button2.md,
.wrap-links .btn-checkout.md,
.mycart-buttons .finalizar,
.newsletter-container .newsletter .form-news .submit .button,
.box-reviews main .form-add button.button {
  font-size: 13px;
  font-weight: 700;
  padding: 14px 35px;
  line-height: initial;
}
.button.lg,
.mycart-buttons .finalizar.lg,
.product-collection .add-to-cart.lg,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.lg,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.lg,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.lg,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.lg,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.lg,
.newsletter-container .newsletter .form-news .submit .button.lg,
.box-reviews main .form-add .subtitle.lg,
.box-reviews main .form-add button.button.lg,
.cart-boxes .shipping .buttons-set .button2.lg,
.wrap-links .btn-checkout.lg,
.wrap-links .btn-checkout {
  font-size: 38px;
  padding: 14px 50px;
  font-family: 'Mxburd', sans-serif;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
}
.button.lg span,
.mycart-buttons .finalizar.lg span,
.product-collection .add-to-cart.lg span,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.lg span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.lg span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.lg span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.lg span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.lg span,
.newsletter-container .newsletter .form-news .submit .button.lg span,
.box-reviews main .form-add .subtitle.lg span,
.box-reviews main .form-add button.button.lg span,
.cart-boxes .shipping .buttons-set .button2.lg span,
.wrap-links .btn-checkout.lg span,
.wrap-links .btn-checkout span {
  display: table;
  margin: 0 auto;
  line-height: 6px;
}
.button.xl,
.mycart-buttons .finalizar.xl,
.product-collection .add-to-cart.xl,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.xl,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.xl,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.xl,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.xl,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.xl,
.newsletter-container .newsletter .form-news .submit .button.xl,
.box-reviews main .form-add .subtitle.xl,
.box-reviews main .form-add button.button.xl,
.cart-boxes .shipping .buttons-set .button2.xl,
.wrap-links .btn-checkout.xl,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover {
  font-family: 'Mxburd', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  padding: 15px 46px;
  border-radius: 25px;
  font-weight: 500;
}
.button.xl span,
.mycart-buttons .finalizar.xl span,
.product-collection .add-to-cart.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.xl span,
.newsletter-container .newsletter .form-news .submit .button.xl span,
.box-reviews main .form-add .subtitle.xl span,
.box-reviews main .form-add button.button.xl span,
.cart-boxes .shipping .buttons-set .button2.xl span,
.wrap-links .btn-checkout.xl span,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled span,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover span,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover span {
  display: table;
  margin: 0 auto;
  line-height: 6px;
}
.button.cta,
.mycart-buttons .finalizar.cta,
.product-collection .add-to-cart.cta,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.cta,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.cta,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.cta,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.cta,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.cta,
.newsletter-container .newsletter .form-news .submit .button.cta,
.box-reviews main .form-add .subtitle.cta,
.box-reviews main .form-add button.button.cta,
.cart-boxes .shipping .buttons-set .button2.cta,
.wrap-links .btn-checkout.cta,
.mycart-buttons .finalizar,
.product-collection .add-to-cart,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn,
.box-reviews main .form-add button.button,
.wrap-links .btn-checkout {
  color: #fff;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3);
  background: @button(bg);
}
.button.sec,
.mycart-buttons .finalizar.sec,
.product-collection .add-to-cart.sec,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.sec,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.sec,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.sec,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.sec,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.sec,
.newsletter-container .newsletter .form-news .submit .button.sec,
.box-reviews main .form-add .subtitle.sec,
.box-reviews main .form-add button.button.sec,
.cart-boxes .shipping .buttons-set .button2.sec,
.wrap-links .btn-checkout.sec,
.newsletter-container .newsletter .form-news .submit .button,
.box-reviews main .form-add .subtitle,
.cart-boxes .shipping .buttons-set .button2 {
  color: #fff;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3);
  background: @bg(2:hover);
}
.button.disabled,
.mycart-buttons .finalizar.disabled,
.product-collection .add-to-cart.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.add-to-cart-btn.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover.disabled,
.newsletter-container .newsletter .form-news .submit .button.disabled,
.box-reviews main .form-add .subtitle.disabled,
.box-reviews main .form-add button.button.disabled,
.cart-boxes .shipping .buttons-set .button2.disabled,
.wrap-links .btn-checkout.disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled,
.product-shop .add-to-cart .add-to-cart-buttons button.out-of-stock:hover,
.product-shop .add-to-cart .add-to-cart-buttons button:disabled:hover {
  background: #ccc;
}
/*
* Module - Container
*/
.container,
.main-menu nav,
.newsletter-container .newsletter,
.header-container header.header,
.footer-container footer.footer,
.breadcrumbs-container .breadcrumbs,
.main-container .main {
  min-width: 0px;
  max-width: 980px;
  margin: 0 auto;
  width: auto;
}
@media (max-width: 768px) {
  .container,
  .main-menu nav,
  .newsletter-container .newsletter,
  .header-container header.header,
  .footer-container footer.footer,
  .breadcrumbs-container .breadcrumbs,
  .main-container .main {
    padding: 10px;
  }
}
/*
* Modules
* Componentes que se adaptam ao contexto
*/
/*
* Module - Messages
*/
.messages > li {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.messages .success-msg {
  border: 1px solid #2baf60;
  background: #c8efc0;
  color: #1d904b;
}
.messages .error-msg {
  border: 1px solid #d92100;
  background: #ffdcdc;
  color: #d92100;
}
.messages .notice-msg {
  border: 1px solid #f7be07;
  background: #f9f0d5;
  color: #f7be07;
}
/*
* Module - Regular price
*/
.mycart-totals .regular-price,
.mycart-totals .special-price {
  color: @button(bg:hover);
}
.product-collection .regular-price,
.product-collection .special-price {
  font-size: 18px;
  color: @bg(3:hover);
}
.product-collection .regular-price .label,
.product-collection .special-price .label,
.product-collection .regular-price .price,
.product-collection .special-price .price {
  font-weight: 400;
}
.product-shop .regular-price,
.product-shop .special-price {
  color: @bg(2);
}
.product-shop .regular-price .label,
.product-shop .special-price .label {
  display: none;
}
/*
* Module - Old price
*/
.product-collection .old-price {
  font-size: 13px;
  color: @bg(3);
}
/**
* Module - Preco a vista
*/
.mycart-totals .preco-a-vista .discount,
.mycart-totals .preco-a-vista .price,
.mycart-totals .preco-a-vista .label {
  color: @button(bg:hover);
  font-size: 13px;
  font-weight: 400;
}
/*
* Module - Product name
*/
.product-collection .product-name {
  font-size: 18px;
  color: @bg(3:hover);
}
/*
* Module - Search container
*/
.search-container .search-input {
  border-radius: 50px;
  height: 40px;
  box-shadow: 2px 3.464px 0px 0px rgba(255,255,255,0.2);
  padding: 0 22px;
  padding-top: 4px;
  font-family: 'Determination Sans', cursive;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #999;
}
.search-container label {
  display: none;
}
.search-container .search-button {
  height: 40px;
  line-height: 40px;
  width: auto;
  padding: 0 23px;
  border-radius: 50px;
}
.search-container .search-button span {
  display: block;
}
.search-container .search-button .ico {
  display: block;
  position: static;
  opacity: 1;
  fill: #999;
  width: 17px;
  height: 17px;
  margin: 0 auto;
}
.search-container .search-button:hover .ico {
  fill: #fff;
}
/*
* Module - Categorias
*/
.main-menu.normal {
  position: static;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.main-menu.normal a.level1 {
  font-size: 13px;
  color: #fff;
  font-family: 'Determination Sans', cursive;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
}
.main-menu.normal a.level1:hover {
  color: @button(bg:hover);
  background: none;
}
.main-menu.normal a.level0 {
  height: auto;
  font-family: 'Determination Sans', cursive;
  line-height: 44px;
}
.main-menu.normal a.level0 .name {
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
.main-menu.normal ul.level1 {
  padding: 20px;
}
.main-menu.normal div.level1 {
  padding: 0;
}
.main-menu.normal div.level1.promo-banner .promo-container {
  box-shadow: none;
  padding: 0;
  position: relative;
  width: 523px;
  margin-right: 20px;
}
.main-menu.normal li.level0 {
  padding-bottom: 0;
}
.main-menu.normal li.level0:hover a.level0 {
  background: none;
  box-shadow: none;
}
header.header .main-menu.normal {
  border: none;
}
header.header .main-menu.normal a.level0 {
  line-height: initial;
  border-right: 1px solid #fff;
  padding: 0 14px;
}
header.header .main-menu.normal a.level0 .name {
  font-size: 13px;
}
header.header .main-menu.normal li.level0:last-child a.level0 {
  border: 0;
}
header.header .main-menu.normal li.level0.parent a.level0:after {
  border-color: transparent transparent #fff transparent;
}
header.header .main-menu.normal div.level1 {
  background: #fff;
}
header.header .main-menu.normal a.level1 {
  color: #033;
}
header.header .main-menu.normal a.level1:hover {
  color: @bg(2:hover);
}
@media (max-width: 768px) {
  .main-menu.normal {
    background: @bg(1);
    padding: 10px 0;
  }
  .main-menu.normal ul.level0 {
    display: block;
    padding: 0 20px;
  }
  .main-menu.normal a.level0 .name {
    text-align: left;
  }
  .main-menu.normal li.level0.parent:hover a.level0 .name {
    color: #fff;
  }
  .main-menu.normal li.level0.parent:hover a.level0:before,
  .main-menu.normal li.level0.parent:hover a.level0:after {
    display: none;
  }
  .main-menu.normal li.level0.parent div.level1 {
    transform: translateY(0px);
  }
  .main-menu.normal li.level0.parent div.level1.promo .promo-container {
    display: none;
  }
}
/*
* Module - Mycart products
*/
.mycart-products li.item {
  display: flex;
  align-items: flex-start;
}
.mycart-products li.item:not(:first-child):before {
  color: @bg(2:hover);
  font-weight: 700;
}
.mycart-products .product-details {
  color: #fff;
  flex: 1 1 auto;
}
.mycart-products .product-details .qtd {
  color: @button(bg:hover);
  text-transform: uppercase;
}
.mycart-products .product-details .product-name a {
  color: #fff;
  font-size: 14px;
}
/*
* Module - Mycart totals
*/
.mycart-totals {
  padding-left: 40px;
}
.mycart-totals .title {
  color: @button(bg:hover);
  text-transform: uppercase;
}
.mycart-totals .title:before {
  color: rgba(255,255,255,0.3);
}
/*
* Module - Mycart buttons
*/
.mycart-buttons {
  justify-content: flex-end;
}
.mycart-buttons .editar {
  display: none;
}
.mycart-buttons .finalizar {
  margin: 0;
}
/*
* Module - Mycart container
*/
.mycart-container .mycart > a {
  position: static;
  padding: 0;
  box-shadow: none;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 0;
  font-family: 'Determination Sans', cursive;
  background: none;
}
.mycart-container .mycart > a:hover {
  background: none;
}
.mycart-container .mycart > a .icon {
  position: static;
  margin: 0 10px 0 0;
  width: 15px;
  height: 13px;
}
.mycart-container .mycart > a .qtd {
  position: static;
  margin: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 8px;
  opacity: 0.7;
  margin-right: 10px;
  font-size: 13px;
}
.mycart-container .mycart > a .txt {
  position: static;
  margin: 0;
  font-size: 8px;
  width: auto;
  padding: 0;
  opacity: 0.7;
  font-size: 13px;
}
.mycart-container .mycart > a .txt:before {
  content: '|';
  margin-right: 10px;
}
.mycart-container .mycart-dropdown-container {
  min-width: 330px;
}
.mycart-container .mycart-dropdown-container .mycart-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  background: none;
  padding: 0;
}
.mycart-container .mycart-dropdown-container .mycart-dropdown:before,
.mycart-container .mycart-dropdown-container .mycart-dropdown:after {
  display: none;
}
.mycart-container .mycart-dropdown-container .empty-text {
  color: #fff;
}
.mycart-container .mycart-dropdown-container .tit {
  color: @button(bg:hover);
  font-size: 13px;
  font-family: 'Determination Sans', cursive;
  font-weight: 400;
}
.mycart-container .mycart-dropdown-container .mycart-totals {
  margin-bottom: 22px;
}
.scrolling .mycart-container .mycart > a .txt {
  display: none;
}
@media (max-width: 768px) {
  .mycart-container:hover .mycart > a:before,
  .mycart-container:hover .mycart > a:after {
    display: none;
  }
  .mycart-container:hover .mycart-dropdown-container {
    display: none;
  }
}
/*
* Module - Login create
*/
.login-create-container .login-create {
  height: auto;
}
.login-create-container .login-create a {
  color: #fff;
  font-family: 'Determination Sans', cursive;
  font-weight: 500;
  opacity: 0.7;
}
/*
* Module - Mb menu
*/
header.header .mb-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header.header .mb-menu a {
  color: #fff;
  opacity: 0.7;
  line-height: 30px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Determination Sans', cursive;
  margin-right: 20px;
  letter-spacing: 1px;
}
header.header .mb-menu a span {
  margin-right: 10px;
}
header.header .mb-menu a:after {
  content: '|';
  display: inline-block;
}
header.header .mb-menu a:hover {
  opacity: 1;
}
header.header .mb-menu li:last-child a {
  margin-right: 0;
}
header.header .mb-menu li:last-child a span {
  margin-right: 0;
}
header.header .mb-menu li:last-child a:after {
  display: none;
}
footer.footer .mb-menu a {
  text-transform: uppercase;
}
/*
* Module - Collection container
*/
.product-collection-container > header,
.collateral-products > header {
  margin-bottom: 34px;
  display: block;
}
.product-collection-container > header .title,
.collateral-products > header .title,
.product-collection-container > header .block-title,
.collateral-products > header .block-title {
  color: @bg(2);
  display: table;
}
.product-collection-container > header .title span,
.collateral-products > header .title span,
.product-collection-container > header .block-title span,
.collateral-products > header .block-title span {
  color: @bg(2);
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}
/*
* Module - product-collection
*/
.product-collection li.item article {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
  background: #ececec;
  border: 2px solid #e3e2e3;
}
.product-collection li.item main {
  padding: 12px;
  position: relative;
  background: #fff;
}
.product-collection li.item main .product-link {
  text-align: center;
}
.product-collection li.item main .product-image {
  margin: 0 auto;
  text-align: center;
}
.product-collection li.item main .price-box {
  margin-bottom: 17px;
}
.product-collection li.item main:before {
  width: 100%;
  content: '';
  display: block;
  height: 13px;
  background: url("@file(polygon)");
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -13px;
}
.product-collection li.item:hover article {
  border: 2px solid #c8c8c8;
}
/*
* Module - Add to cart
*/
.product-shop .add-to-cart .add-to-cart-buttons .qty-wrapper {
  display: none;
}
/*
* Module - Banner grid
*/
.banner-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.banner-grid > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
/*
* Module - Newsletter container
*/
.newsletter-container {
  border-radius: 10px;
  box-shadow: inset 0px 5px 0px 0px rgba(31,29,36,0.39);
  background: @bg(1);
}
.newsletter-container .newsletter {
  padding: 46px 10px 42px 10px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.newsletter-container .newsletter .message {
  max-width: 387px;
  flex: 1 1 auto;
}
.newsletter-container .newsletter .title {
  display: flex;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 5px 0px rgba(0,0,0,0.1);
  position: relative;
}
.newsletter-container .newsletter .title:before {
  content: '';
  display: block;
  width: 40px;
  position: absolute;
}
.newsletter-container .newsletter .title .icon {
  fill: #fff;
  width: 66px;
  height: 48px;
  margin-right: 33px;
  transform: scale(1.8);
  margin-left: 16px;
}
.newsletter-container .newsletter .title .text {
  line-height: 25px;
}
.newsletter-container .newsletter strong {
  font-weight: 400;
  color: @bg(2:hover);
}
.newsletter-container .newsletter .form-news {
  display: flex;
  align-items: center;
  max-width: 549px;
  flex: 1 1 auto;
}
.newsletter-container .newsletter .form-news label {
  display: none;
}
.newsletter-container .newsletter .form-news .name {
  margin-right: 10px;
}
.newsletter-container .newsletter .form-news .email {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .newsletter-container .newsletter .message {
    margin-bottom: 10px;
  }
  .newsletter-container .newsletter .form-news {
    display: block;
  }
  .newsletter-container .newsletter .form-news input {
    margin-bottom: 10px;
  }
  .newsletter-container .newsletter .form-news .submit {
    width: 100%;
  }
  .newsletter-container .newsletter .form-news .submit button {
    width: 100%;
  }
}
/*
* Module - Footer 4 cols
*/
.footer .ftitle {
  font-size: 13px;
  color: @bg(2);
  font-weight: 600;
}
.footer-1col,
.footer-2cols,
.footer-4cols {
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 480px) {
  .footer-1col .col,
  .footer-2cols .col,
  .footer-4cols .col {
    flex: 0 0 100%;
  }
}
.footer-1col .col {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-1col .col {
    display: block;
  }
}
.footer-copy p {
  font-size: 13px;
  color: #666;
}
/*
* Module - Header
*/
header.header {
  padding: 0;
}
header.header #sobre-a-loja {
  order: 1;
}
header.header #acesse-conta {
  order: 2;
}
header.header .before {
  order: 3;
}
header.header .logo-container {
  order: 4;
  margin-right: 50px;
}
header.header .search-container {
  order: 5;
  margin-right: 30px;
}
header.header .mycart-container {
  order: 6;
}
header.header .main-menu {
  order: 5;
  display: none;
}
.scrolling header.header {
  padding: 19px 0;
  justify-content: flex-start;
}
.scrolling header.header .logo-container {
  margin-right: 15px;
  max-width: 104px;
}
.scrolling header.header .before,
.scrolling header.header .after {
  display: none;
}
.scrolling header.header .search-container {
  margin-left: 0;
  margin-right: 40px;
  flex: 0 0 270px;
}
.scrolling header.header .mb-menu {
  display: none;
}
.scrolling header.header .main-menu {
  display: block;
}
.scrolling header.header #acesse-conta {
  order: 8;
  display: block;
}
.scrolling header.header #acesse-conta .meus-pedidos {
  display: none;
}
.scrolling header.header #acesse-conta .minha-conta a {
  padding: 0;
  margin-right: 0;
}
.scrolling header.header #acesse-conta .minha-conta a:after {
  display: none;
}
.scrolling header.header #acesse-conta .minha-conta span {
  margin: 0;
}
@media (max-width: 768px) {
  header.header {
    background: @bg(1);
  }
  header.header .mb-menu {
    display: none;
  }
  header.header .logo-container {
    order: 1;
    margin: 0 0 10px 0;
  }
  header.header .mycart-container {
    order: 2;
  }
  header.header .search-container {
    order: 3;
    margin: 0 10px 0 0;
  }
  header.header .before {
    display: none;
  }
  header.header .after {
    order: 4;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    background: @button(bg:hover);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.header .after:before {
    content: "\f0c9";
    font-size: 20px;
    color: @bg(1);
    font-family: 'biz_icons';
    text-align: center;
  }
  header.header .after.active:before {
    content: "\f00d";
  }
  header.header .sobre-a-loja {
    display: none;
  }
}
/*
* Module - Header container
*/
.header-container {
  box-shadow: inset 0 30px 0 @bg(1:hover), inset 0 -4px 0 rgba(0,0,0,0.7), inset 0 -5px 0 rgba(255,255,255,0.2), inset 0 -140px 0 #2c3257;
}
.header-container > .main-menu {
  margin-top: 14px;
}
.scrolling .header-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.7), inset 0 -5px 0 rgba(255,255,255,0.2), inset 0 -140px 0 #2c3257;
}
.scrolling .header-container > .main-menu {
  display: none;
}
@media (max-width: 768px) {
  .header-container {
    box-shadow: none;
    background: @bg(1);
  }
  .header-container > header.header {
    z-index: 20;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header-container > .main-menu {
    transition: transform 0.5s;
    transform: translateY(-3000px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 106px;
    z-index: 15;
    overflow-y: scroll;
  }
  .header-container > .main-menu.active {
    transform: translateY(0);
  }
}
/*
* Module - Footer container
*/
.footer-container {
  background: #fff;
}
.footer-container .newsletter-container {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  top: -70px;
  clear: both;
}
/*
* Module - Page title
*/
.page-title {
  margin: 0;
  line-height: initial;
}
.page-title h1 {
  color: @bg(2);
  line-height: initial;
}
/*
* Module - Toolbar
*/
.toolbar .sorter .view-mode {
  display: none;
}
/*
* Module - Col main
*/
.col-main .page-title {
  margin: 0;
  display: block;
  margin: 0 0 30px 0;
}
.col-main .toolbar {
  margin: 30px 0 30px 0;
  float: right;
}
.col-main .category-description {
  clear: both;
}
@media (max-width: 768px) {
  .col-main .toolbar {
    width: 100%;
    clear: both;
  }
}
/*
*  Module - The filters
*/
.the-filters .a-filter .count {
  display: none;
}
.the-filters .a-filter .label,
.the-filters .a-filter .swatch-label {
  color: #fff;
  font-family: 'Determination Sans', cursive;
  text-transform: uppercase;
}
.the-filters .a-filter:hover {
  background: none !important;
}
.the-filters .a-filter:hover .label,
.the-filters .a-filter:hover .swatch-label {
  color: @button(bg:hover);
}
/*
* Module - Filters list
*/
.block-layered-nav .currently,
.block-layered-nav .filters-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .block-layered-nav .currently,
  .block-layered-nav .filters-list {
    display: none;
    background: @bg(1);
    padding: 10px;
    color: #fff;
  }
  .block-layered-nav .currently > .item,
  .block-layered-nav .filters-list > .item {
    position: static;
  }
  .block-layered-nav .currently > .item .filter-name,
  .block-layered-nav .filters-list > .item .filter-name {
    color: #fff !important;
    margin: 10px 0 !important;
    display: block;
    padding: 0 10px;
  }
  .block-layered-nav .currently > .item .the-filters,
  .block-layered-nav .filters-list > .item .the-filters {
    display: block;
    position: static;
  }
}
.block-layered-nav .currently > .item,
.block-layered-nav .filters-list > .item {
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}
.block-layered-nav .currently > .item .filter-name,
.block-layered-nav .filters-list > .item .filter-name {
  margin-bottom: 0;
  color: @bg(3:hover);
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Determination Sans', cursive;
  font-weight: 400;
  letter-spacing: 1px;
}
.block-layered-nav .currently > .item .the-filters,
.block-layered-nav .filters-list > .item .the-filters {
  min-width: 260px;
  left: calc(50% - 130px);
}
.block-layered-nav .currently {
  align-items: center;
  box-shadow: none;
  border: none;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.block-layered-nav .currently .block-subtitle {
  margin: 0;
  font-family: 'Determination Sans', cursive;
  font-size: 13px;
  color: @bg(3:hover);
  flex: 0 0 auto;
  margin-right: 20px;
}
.block-layered-nav .currently ol {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
}
.block-layered-nav .currently ol li {
  margin: 0;
  font-family: 'Determination Sans', cursive;
  text-transform: uppercase;
  font-size: 13px;
  text-transform: uppercase;
  flex: 1 1 auto;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.block-layered-nav .currently ol .label {
  color: #666;
}
.block-layered-nav .currently ol span.value {
  color: #999;
}
.block-layered-nav .currently ol .btn-remove {
  position: static;
  margin: 0 0 0 25px;
}
.block-layered-nav .currently ol .btn-remove:before {
  color: #f00;
}
.block-layered-nav .currently .actions {
  position: static;
  flex: 0 0 auto;
}
.block-layered-nav .currently .actions .clear-all {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-family: 'Determination Sans', cursive;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  line-height: 20px;
  font-style: initial;
  font-weight: 400;
  padding: 0 12px;
}
/*
* Module - Breadcrumbs container
*/
.breadcrumbs-container {
  width: 100%;
  min-width: 0;
}
.breadcrumbs-container .breadcrumbs {
  font-family: 'Determination Sans', cursive;
  letter-spacing: 1px;
}
.breadcrumbs-container .bread-link {
  font-size: 13px;
  text-transform: uppercase;
  font-size: 13px;
  color: @bg(2);
}
.breadcrumbs-container .sep {
  font-size: 0;
}
.breadcrumbs-container .sep:before {
  color: #999;
  content: '•';
  font-size: 13px;
  display: inline-block;
}
.breadcrumbs-container strong {
  font-size: 13px;
  color: #777;
}
/*
* Module - Product options
*/
.product-options dt {
  color: @bg(2);
  border-bottom: 1px solid @bg(2);
  margin-bottom: 20px;
}
.product-options dt label {
  display: flex;
}
.product-options dt .select-label {
  color: @bg(2);
  align-self: flex-end;
  margin-left: auto;
}
.product-options dd {
  border-bottom: 0;
  padding-bottom: 0;
}
/*
* Module - Availability
*/
.availability {
  color: #999;
  font-size: 12px;
  font-weight: 300;
}
/*
* Module - Product video
*/
.product-video .video-thumb {
  width: auto;
}
/*
* Module - Product image
*/
.product-essential .product-image-thumbs li {
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
  padding: 2px;
  border: 1px solid #e8e8e8;
}
.product-essential .product-image-thumbs li a.thumb-link {
  border: 0;
}
/*
* Module - Product image
*/
.product-essential .product-image-container {
  display: flex;
  justify-content: space-between;
}
.product-essential .product-image-container .product-image {
  order: 1;
  margin-right: 20px;
}
.product-essential .product-image-container .product-image img {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
}
.product-essential .product-image-container .product-image .product-image-gallery {
  box-shadow: none;
  width: auto;
  height: auto;
}
.product-essential .product-image-container .more-views {
  order: 2;
  position: static;
  width: 100px;
}
.product-essential .product-image-container .more-views .product-image-thumbs {
  margin: 0;
}
.product-essential .product-image-container .more-views li {
  margin: 0 0 5px 0;
  width: 100%;
}
/*
* Module - Product shop
*/
.product-shop .availability {
  margin-bottom: 26px;
}
.product-shop .action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-shop .attributes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}
.product-shop .attributes-list li {
  color: #666;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 24px;
}
.product-shop .attributes-list li.secure-store {
  background: url("@file(satisfaction-icon)") no-repeat center left;
}
.product-shop .attributes-list li.garantee {
  background: url("@file(lock-icon)") no-repeat center left;
}
/*
* Module - Product image box
*/
.product-essential .product-img-box .product-image-container {
  margin-bottom: 0;
}
/*
* Module - Product essential
*/
.product-essential {
  background: #fff;
  border: 1px solid #e3e3e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
}
.product-essential > form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.product-essential .product-img-box {
  width: auto;
  max-width: 520px;
}
.product-essential .product-shop {
  margin: 0;
  width: auto;
  max-width: 420px;
}
@media (max-width: 768px) {
  .product-essential .product-img-box,
  .product-essential .product-shop {
    width: 100%;
    max-width: 100%;
  }
}
/*
* Module - Abas
*/
.collateraltabs {
  box-shadow: inset 0 40px 0 #fff, inset 0 41px 0 #ccc;
  display: flex;
  flex-flow: row wrap;
  box-shadow: none;
}
.collateraltabs:before {
  display: block;
  width: 100%;
  font-size: 60px;
  font-family: 'Mxburd', sans-serif;
  color: @bg(2);
  font-weight: 400;
  margin-bottom: 20px;
}
.collateraltabs dt.tab {
  cursor: pointer;
  line-height: 40px;
  padding: 0 40px;
  background: #fafafa;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-right: 5px;
  order: 1;
  transition: all 100ms ease-in-out;
  transform-origin: left bottom;
  line-height: initial;
  padding: 0;
  border: 1px solid transparent;
  border-bottom: 0;
  padding: 15px 10px 5px 10px;
  background: none;
  font-size: 12px;
}
.collateraltabs dt.tab.on {
  transform: none;
  border-radius: 10px 10px 0 0;
  border: 1px solid #e6e6e7;
  border-bottom: 0;
  background: #fff;
  font-size: 16px;
  color: @bg(2:hover);
  position: relative;
  z-index: 10;
  font-weight: 700;
}
.collateraltabs .tab-container {
  display: none;
  padding: 30px;
  max-width: 100%;
  flex: 1 1 100%;
  order: 2;
  border: 1px solid #e6e6e7;
  margin-top: -1px;
  background: #fff;
  padding: 15px 28px 5px 28px;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
}
.collateraltabs .tab-container.on {
  display: block;
}
.collateraltabs.about:before {
  content: 'SOBRE O PRODUTO';
}
.collateraltabs.table:before {
  content: 'TABELA DE MEDIDAS';
}
/*
* Module - Reviews list
*/
.customers-ratings .reviews-list li {
  border: 0;
  margin-bottom: 0;
}
.customers-ratings .reviews-list .title {
  display: none;
}
.customers-ratings .reviews-list .product-rate {
  display: none;
}
.customers-ratings .reviews-list .details {
  margin: 0;
}
.customers-ratings .reviews-list .details .review-meta {
  position: relative;
  margin-top: 28px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}
.customers-ratings .reviews-list .details .review-meta:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 7px 0 7px;
  border-color: #424768 transparent transparent transparent;
  left: 36px;
  top: -28px;
  display: block;
  position: absolute;
}
.customers-ratings .reviews-list .details .review-meta:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9.5px 0 9.5px;
  border-color: #e5e5e5 transparent transparent transparent;
  left: 34px;
  top: -28px;
  display: block;
  position: absolute;
}
.customers-ratings .reviews-list .details .customer-message {
  background: @bg(1:hover);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 46px 35px;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  position: relative;
}
.customers-ratings .reviews-list .details .customer-message:before,
.customers-ratings .reviews-list .details .customer-message:after {
  content: '"';
  display: inline;
  color: @bg(2:hover);
  font-size: 60px;
  display: inline-block;
  vertical-align: middle;
  line-height: 9px;
  font-family: 'Mxburd', sans-serif;
}
.customers-ratings .reviews-list .details .customer-message:before {
  margin-right: 10px;
}
.customers-ratings .reviews-list .details .customer-message:after {
  content: '"';
  margin-left: 10px;
}
/*
* Module - Customers
*/
.customers-ratings .subtitle {
  display: none;
}
/*
* Module -  Reviews
*/
.box-reviews .reviews-title {
  color: @bg(2);
  font-size: 60px;
  font-family: 'Mxburd', sans-serif;
  font-weight: 500;
}
.box-reviews main {
  display: flex;
  flex-flow: column nowrap;
}
.box-reviews main .rating-excerpt {
  display: none;
}
.box-reviews main .customers-ratings {
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  order: 1;
  margin: 0;
  padding: 0;
}
.box-reviews main .form-add {
  order: 2;
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.box-reviews main .form-add .subtitle {
  max-width: 190px;
  margin-top: 20px;
  cursor: pointer;
}
.box-reviews main .form-add .subtitle:before {
  font-family: 'biz_icons';
}
/*
* Module - Product collateral
*/
.product-collateral .about {
  float: left;
  max-width: 50%;
  padding-right: 10px;
}
.product-collateral .table {
  float: right;
  max-width: 50%;
  padding-left: 10px;
}
.product-collateral .box-collateral {
  clear: both;
}
@media (max-width: 768px) {
  .product-collateral .about,
  .product-collateral .table {
    max-width: 100%;
    float: none;
    clear: both;
  }
}
/*
* Module - Product info
*/
.product-info h2.name {
  font-size: 13px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.product-info .sku {
  display: none;
}
.product-info .item-options {
  background: none;
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
}
.product-info .item-options dt {
  margin-left: 5px;
  margin-right: 5px;
  color: #999;
  font-weight: 400;
  line-height: 11px;
}
.product-info .item-options dt:first-child {
  margin-left: 0;
}
.product-info .item-options dd {
  margin-bottom: 0;
  border-right: 1px solid #999;
  padding-right: 5px;
  color: #999;
  line-height: 11px;
}
.product-info .item-options dd:last-child {
  border-right: 0;
}
/*
* Module - Product cart images
*/
.product-cart-image .btn-remove:before {
  opacity: 1;
  content: "\f00d";
}
/*
* Module - Cart price
*/
.product-cart-price .cart-price,
.product-cart-total .cart-price {
  color: #666;
  font-size: 14px;
}
/*
* Module - Product cart actions
*/
.product-cart-actions input {
  padding: 0;
}
/*
* Module - Cart boxes
*/
.cart-boxes {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  padding-top: 0;
}
.cart-boxes .shipping {
  margin: 0;
  padding: 20px 0;
  max-width: 429px;
}
.cart-boxes .shipping .title {
  font-size: 14px;
  color: #666;
}
.cart-boxes .shipping .co-shipping-form {
  border: 0;
}
.cart-boxes .discount-coupon-form {
  margin: 0;
  align-items: center;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px 0;
  max-width: 409px;
}
.cart-boxes .discount-coupon-form .title {
  font-size: 14px;
  color: #666;
  flex: 0 0 100%;
}
.cart-boxes .discount-coupon-form .discount-form {
  flex: 0 0 100%;
}
.cart-boxes .discount-coupon-form .discount-form label {
  display: none;
}
.cart-boxes .cart-totals {
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e1e1e1;
}
.cart-boxes .cart-totals #shopping-cart-totals-table {
  max-width: 350px;
}
.cart-boxes .cart-totals #shopping-cart-totals-table td {
  border: 0;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px 0;
}
.cart-boxes .cart-totals #shopping-cart-totals-table td strong {
  font-weight: 400;
  font-size: 13px;
  color: #666;
}
.cart-boxes .cart-totals #shopping-cart-totals-table tfoot {
  border-top: 1px solid #e1e1e1;
}
.cart-boxes .cart-totals #shopping-cart-totals-table tfoot td:last-child strong {
  font-size: 17px;
}
/*
* Module - Cart product line
*/
.cart-product-line .product-image {
  max-width: 50px;
}
/*
* Module - Data table
*/
.cart-table header {
  border-radius: 10px 10px 0 0;
  border: 1px solid #e3e3e4;
  border-bottom: 0;
  background: #fafafa;
  font-size: 11px;
  font-weight: 500;
  color: #666;
}
.cart-table main {
  border: 1px solid #e3e3e4;
  background: #fff;
}
.cart-table footer {
  display: none;
}
/*
* Module - Carrinho
*/
.cart .page-title {
  width: 100%;
  text-align: center;
}
.cart .page-title h1 {
  font-size: 60px;
}
.cart .cart-table {
  clear: both;
  float: none;
}
/*
* Module - Wrap links
*/
/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/
.wrapper.scrolling {
  padding-top: 80px;
}
.wrapper .main-container {
  margin-bottom: 200px;
}
.catalog-category-view .col-left.sidebar {
  width: 100%;
}
.catalog-category-view .col-main {
  width: 100%;
  margin: 0;
}
/*
* State
* Estado global do Layout
*/
/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
.box-reviews .customers-ratings li {
  width: 100% !important;
}
.box-reviews .customers-ratings .owl-item li {
  width: 100% !important;
}
.col1-layout .product-collection li.item,
.col2-left-layout .product-collection li.item,
.col2-right-layout .product-collection li.item {
  width: calc(25% - 16px);
}
.col1-layout .product-collection li.item:nth-child(5n+1),
.col2-left-layout .product-collection li.item:nth-child(5n+1),
.col2-right-layout .product-collection li.item:nth-child(5n+1) {
  clear: none;
  margin: 0 0 20px 20px;
}
.col1-layout .product-collection li.item:nth-child(4n+1),
.col2-left-layout .product-collection li.item:nth-child(4n+1),
.col2-right-layout .product-collection li.item:nth-child(4n+1) {
  clear: left;
  margin-left: 0;
}
@media (max-width: 480px) {
  .col1-layout .product-collection li.item,
  .col2-left-layout .product-collection li.item,
  .col2-right-layout .product-collection li.item {
    width: 100%;
  }
  .col1-layout .product-collection li.item header,
  .col2-left-layout .product-collection li.item header,
  .col2-right-layout .product-collection li.item header {
    margin-left: 20px;
  }
}
.owl-theme .owl-buttons {
  width: 122px;
  display: flex;
  justify-content: space-between;
}
.owl-theme .owl-buttons div {
  height: 9px;
  width: 6px;
  background: none;
  border: 0;
  box-shadow: none;
  font-size: 0;
  border-radius: 0;
}
.owl-theme .owl-buttons div:before {
  display: none;
}
.owl-theme .owl-buttons div.owl-next {
  background: url("@img(pixel-arrow-right)") center center;
  position: static;
}
.owl-theme .owl-buttons div.owl-prev {
  background: url("@img(pixel-arrow-left)") center center;
  position: static;
}
.owl-theme .owl-page {
  margin: 0;
}
.owl-theme .owl-page span {
  background: #000;
  opacity: 0.1;
  border-radius: 0;
  width: 10px;
  height: 10px;
  margin: 0;
}
.owl-theme .owl-page.active span {
  background: @button(bg:hover);
  opacity: 1;
}
.owl-theme .owl-pagination {
  width: 90px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 16px;
  bottom: -1px;
}
.owl-theme .owl-controls {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}
.product-collection-container#featured > header .title {
  color: @bg(2:hover);
}
