/*
* Utilities
*/
@import '../node_modules/nib'

/*
* Libraries
*/
@import url("//fonts.googleapis.com/css?family=Exo+2:400,500italic,600,500,400italic,600italic,700,300italic,300|Titillium+Web:400,600");

/**
* Mixins - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700

/**
* Mixins - Viewport
*/
viewport = 980
sidebar =  220
gutter =   30

/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 480px and down)
screen-xs = 480px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Base
* Estilo base do elementos do Html
*/
body
  font-style italic
  font-weight semibold

/*
* Global
* Classes globais que devem ser extendidas por componentes
*/

.container
  min-width 0px
  max-width unit(viewport, px)
  width auto
  margin 0 auto

/*
* Module - Dropdown
* &:hover - Deve mostrar o .dropdown-content
*/
.dropdown
  position relative
  &:hover
    .dropdown-content
      display block

.dropdown-content
  display none
  position absolute
  left 0px
  top 100%
  z-index 9999
  width 100%


/*
* Modules
* Componentes que se adaptam ao contexto
*/


/*
* Module - Messages
*/
.messages{
  > li{
    display block
    padding 10px 20px
    margin-bottom 20px
    font-size 14px
  }
  .success-msg{
    border 1px solid #2baf60
    background #c8efc0
    color #1d904b
  }
  .error-msg{
    border 1px solid #d92100
    background #ffdcdc
    color #d92100
  }
  .notice-msg{
    border 1px solid #f7be07
    background #f9f0d5
    color #f7be07
  }
}

/*
* Module - Welcome
*/
.login-create-container
  .login-create
    color #666666
    font-size 12px
    font-weight regular
    color #666666
    a
      color #666666
      font-weight semibold

/*
* Module - Carrinho
*/
.mycart-container
  .mycart
    > a
        background none
        box-shadow none
        padding-left 52px
        width auto
        height auto
        position relative
        &:before
          content ''
          background unquote($color1_bg_hover)
          border-radius 50%
          display block
          height 40px
          width 40px
          position absolute
          left 0px
        .icon
          width 22px
          height 20px
          top initial
          margin 0px
          left 9px
          top 11px
        > .qtd
            left 28px
            width 17px
            height 17px
            background #ffa200
            font-size 11px
        .txt
          width auto
          color unquote($color1_bg_hover)
          text-align left
          font-size 16px
          padding-top 6px
          .qtd
            width auto
            height auto
            background none
            color unquote($color1_bg_hover)
            position static
            text-align left
            font-size 12px
            padding-top 5px
            line-height 12px


/*
* Module - Header
*/

.call-center
  font-size 12px
  font-weight medium
  strong
    font-weight semibold

/*
* Module - Header
*/
header.header
  padding-bottom 0px

/*
* Module - Header Container
*/
.header-container
  box-shadow none

/*
* Module - main-menu
*/
.main-menu
  &.normal
    /*
    * Menu nível 0
    */
    /*
    * Ul de nível 0
    */
    ul.level0
      background unquote($color1_bg)
    /*
    * Li de nível 0
    */
    li.level0
      padding-bottom 0px
      &.all
        .icon
          width 20px
          height 17px
          fill #fff
          margin 20px
        .text
          display inline-block
          font-size 12px
          strong
            display block
            font-size 18px
            font-weight 800
            background embedurl('../img/arrow-down-icon.svg') no-repeat center right
            padding-right 20px
    /*
    * A de nível 0
    * &:hover - background #000
    */
    a.level0
      .name
        padding-right 20px
        span
          display flex
          align-items center
      &:hover
        background #000
        box-shadow none


/*
* Module - Marcas
*/
.brands-container
  &.list
    .brands
      padding 0px
      > .list
          margin 0px
  .brands
    border none
    .marca_nome
      display none


/*
* Module - filter_menu
*/
.filter_menu
  background unquote($color1_bg_hover)
  display flex
  flex-flow row wrap
  align-items center
  padding 0px 6px 0px 33px
  /*
  * &:before -  Setinha do select cima
  * &:after -  Setinha do select baixo
  * &:first-child - Tem margem para direita maior
  */
  fieldset
    vertical-align middle
    position relative
    margin-right 18px
    &:first-child
      margin-right 29px
    &:before, &:after
      content ''
      background #fff
      position absolute
      background #fff embedurl('../svg/arrow-down-icon.svg') no-repeat center center
      background-size 6px 5px
      border-radius 0px 0px 5px 5px
      box-shadow 0 2px 3px rgba(0,0,0,.3)
      height 10px
      width 10px
    &:before
      right 0px
      top 1px
      transform rotate(180deg)
    &:after
      right 0px
      bottom 1px
    .label-text
      color rgba(#ffffff, .7)
      font-size 10px
      line-height 10px
      display inline-block
      width 30px
      text-align right
      margin-right 10px
      text-transform uppercase
    select
      appearance none
      background none
      border-radius 0px
      border none
      font-size 17px
      font-style italic
      color #ffffff
      text-transform uppercase
      box-shadow none
      height 21px
      width auto
      min-width 90px
      display inline-block
      position relative
      z-index 1
  input[type=submit]
    width 26px
    height 26px
    border-radius 50%
    display block
    padding 0px
    text-align center
    background #fff
    box-shadow none
    color #c60c30
    font-style italic
    text-shadow none

/*
* Module - Menu Principal
*/
.menu-principal
  background unquote($color1_bg)
  display flex
  flex-flow row wrap
  justify-content center
  > .item
      padding 10px 20px 0px 20px
      background unquote($color1_bg)
      min-height 50px
      &:hover
        background #000
      .text
        font-size 12px
        color #fff
        text-transform uppercase
        font-style italic
        padding-bottom 10px
        display block
        cursor pointer
        strong
          font-weight 800
          background embedurl('../img/arrow-down-icon.svg') no-repeat center right
          padding-right 20px
          display table
          font-size 18px


/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/

/*
* Layout - Header container
*/
.header-container
  header.header
    @extend .container

/*
* State
* Estado global do Layout
*/

/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
