/*
* Utilities
*/
/*
* Libraries
*/
@import url("//fonts.googleapis.com/css?family=Exo+2:400,500italic,600,500,400italic,600italic,700,300italic,300|Titillium+Web:400,600");
/**
* Mixins - Font-weight
*/
/**
* Mixins - Viewport
*/
/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Base
* Estilo base do elementos do Html
*/
body {
  font-style: italic;
  font-weight: 600;
}
/*
* Global
* Classes globais que devem ser extendidas por componentes
*/
/*
* Layout - Container
*/
.container,
.header-container header.header,
.wrapper .main-container {
  min-width: 0px;
  max-width: 980px;
  width: auto;
  margin: 0 auto;
}
/*
* Module - Dropdown
* &:hover - Deve mostrar o .dropdown-content
*/
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 22;
  width: auto;
}
/*
* Modules
* Componentes que se adaptam ao contexto
*/
/*
* Module - Messages
*/
.messages > li {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.messages .success-msg {
  border: 1px solid #2baf60;
  background: #c8efc0;
  color: #1d904b;
}
.messages .error-msg {
  border: 1px solid #d92100;
  background: #ffdcdc;
  color: #d92100;
}
.messages .notice-msg {
  border: 1px solid #f7be07;
  background: #f9f0d5;
  color: #f7be07;
}
/*
* Module - Welcome
*/
.login-create-container .login-create {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  height: auto;
}
.login-create-container .login-create a {
  color: #666;
  font-weight: 600;
}
/*
* Module - Carrinho
*/
.mycart-container .mycart > a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 52px;
  width: auto;
  height: auto;
  position: relative;
}
.mycart-container .mycart > a:before {
  content: '';
  background: #BC2031;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0px;
}
.mycart-container .mycart > a .icon {
  width: 22px;
  height: 20px;
  top: initial;
  margin: 0px;
  left: 9px;
  top: 11px;
}
.mycart-container .mycart > a > .qtd {
  left: 28px;
  width: 17px;
  height: 17px;
  background: #ffa200;
  font-size: 11px;
}
.mycart-container .mycart > a .txt {
  width: auto;
  color: #BC2031;
  text-align: left;
  font-size: 16px;
  padding-top: 6px;
}
.mycart-container .mycart > a .txt .qtd {
  width: auto;
  height: auto;
  background: none;
  color: #BC2031;
  position: static;
  text-align: left;
  font-size: 12px;
  padding-top: 5px;
  line-height: 12px;
}
/*
* Module - Busca
*/
.search-container .input-box .search-label {
  display: none;
}
.search-container .input-box .search-input {
  border: none;
  padding: 0px;
  height: auto;
  line-height: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  font-style: italic;
  color: #666;
  background: #f3f3f3;
  height: 40px;
  padding: 0px 14px;
}
.search-container .search-button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 40px;
  line-height: initial;
  width: auto;
}
.search-container .search-button:hover .ico {
  fill: #fff;
}
.search-container .search-button span {
  line-height: initial;
}
.search-container .search-button .ico {
  width: 15px;
  height: 15px;
  fill: #BC2031;
  display: inline-block;
}
/*
* Module - Call center
* header.header & - Sobrescreve propriedades
*/
header.header .call-center {
  font-size: 12px;
  line-height: 9px;
  font-weight: 500;
  padding: 0px;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-right: 3px;
}
header.header .call-center strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  margin-left: 7px;
}
header.header .call-center strong:first-child {
  margin-right: 7px;
}
/*
* Module - Compare
* &:not(.hasproducts) - Diminui o padding do botão
*/
.compare-container {
  display: table;
}
.compare-container .compare {
  display: table;
}
.compare-container .compare header {
  display: none;
}
.compare-container .compare main {
  display: table;
}
.compare-container .compare .content {
  display: table;
}
.compare-container .compare .amount {
  display: none;
}
.compare-container .compare .compare-items {
  display: none;
}
.compare-container .compare .actions {
  display: table;
}
.compare-container .compare .actions a {
  display: none;
}
.compare-container .compare .button {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  line-height: 20px;
  padding: 0px 14px;
  display: block;
  height: auto;
  background: #333 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjkiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDkgOSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGQ9Ik03Ljg4Myw1LjI5NCBDNy4wNTYsNC41MDkgNi4yMzEsMy43MjMgNS40MDYsMi45MzggTDUuNDA2LDkuMDAwIEwzLjU5NCw5LjAwMCBMMy41OTQsMy4wNDYgQzIuNzY5LDMuODMyIDEuOTQzLDQuNjE3IDEuMTE4LDUuNDAzIEMwLjc0NSw1LjA0NyAwLjM3MSw0LjY5MiAtMC4wMDIsNC4zMzYgQzEuNTE4LDIuODkwIDMuMDM4LDEuNDQ0IDQuNTU3LC0wLjAwMiBDNi4wMzksMS40MDcgNy41MTksMi44MTggOS4wMDIsNC4yMjggQzguNjI5LDQuNTgzIDguMjU1LDQuOTM4IDcuODgzLDUuMjk0IFoiIGNsYXNzPSJjbHMtMSIvPgo8L3N2Zz4K") no-repeat 14px 5px;
  padding-left: 29px;
}
.compare-container:not(.hasproducts) .compare .button {
  padding-left: 26px;
  background-position: 12px 5px;
}
/*
* Module - Header
*/
header.header {
  padding-bottom: 0px;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
header.header .login-create-container {
  margin-top: 14px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -o-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
header.header .compare-container {
  margin-top: 12px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  margin-right: 20px;
}
header.header .call-center {
  margin-top: 14px;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -o-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
header.header .before {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 840px;
  -ms-flex: 0 1 840px;
  flex: 0 1 840px;
  border-top: 1px solid #eee;
  margin-top: 12px;
  margin-bottom: 20px;
}
header.header .logo-container {
  margin-top: -41px;
  margin-right: 28px;
}
header.header .search-container {
  margin-left: 0px;
  margin-right: 28px;
}
/*
* Module - Header Container
*/
.header-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*
* Module - Menu configurável
* .menu-principal &
*/
.menu-principal .mb-menu,
.main-menu.vertical ul.level0 {
  background: #000;
  padding: 20px 33px 12px 18px;
}
.menu-principal .mb-menu li,
.main-menu.vertical ul.level0 li,
.main-menu.vertical li.level0 {
  margin-bottom: 20px;
}
.menu-principal .mb-menu li a,
.main-menu.vertical ul.level0 li a,
.main-menu.vertical li.level0 a,
.main-menu.vertical a.level0 {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  line-height: 14px;
}
/*
* Module - Menu categories
* &.vertical - Deve ser igual o Menu configurável
* &.normal -
*/
.main-menu.vertical li.level0:hover a.level0 {
  background: none;
}
.main-menu.vertical a.level0 {
  padding: 0px;
  background: none;
  width: auto;
  display: block;
}
.main-menu.vertical a.level0 .name {
  font-size: inherit;
}
.main-menu.normal li.level0 {
  padding-bottom: 0px;
}
.main-menu.normal li.level0.all div.level1 {
  width: auto;
}
.main-menu.normal a.level0 {
  height: auto;
  min-height: 50px;
  padding: 0px 20px;
}
.main-menu.normal a.level0 .name .icon {
  width: 20px;
  height: 17px;
  fill: #fff;
}
/*
* Module - Marcas
*/
.brands-container {
  margin: 0px;
}
.brands-container.list .brands {
  padding: 0px;
}
.brands-container.list .brands > .list {
  margin: 0px;
}
.menu-principal .brands-container .brands > .list {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 10px;
  min-width: 500px;
}
.menu-principal .brands-container .brands > .list .item {
  border: 1px solid #ddd;
  border-width: 0px 1px 1px 0px;
  padding: 15px;
  margin: 0px !important;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 120px;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  height: 60px;
}
.menu-principal .brands-container .brands > .list .item:nth-child(4n) {
  border-right: none;
}
.menu-principal .brands-container .brands > .list .item:nth-last-child(-n+4) {
  border-bottom: none;
}
.brands-container .brands {
  border: none;
}
.brands-container .brands .marca_nome {
  display: none;
}
.brands-container .brands img {
  max-width: 100%;
}
/*
* Module - filter_menu
*/
.filter_menu {
  background: #BC2031;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px 6px 0px 33px;
/*
  * &:before -  Setinha do select cima
  * &:after -  Setinha do select baixo
  * &:first-child - Tem margem para direita maior
  */
}
.filter_menu fieldset {
  vertical-align: middle;
  position: relative;
  margin-right: 18px;
}
.filter_menu fieldset:first-child {
  margin-right: 29px;
}
.filter_menu fieldset:before,
.filter_menu fieldset:after {
  content: '';
  background: #fff;
  position: absolute;
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciPjxkZWZzLz48cGF0aCBkPSJNOS42MzIgMEwxMSAxLjM4IDUuNDMgNyAwIDEuNTIxIDEuMzY5LjE0IDUuNDMgNC4yMzkgOS42MzIgMHoiIGNsYXNzPSJjbHMtMSIvPjwvc3ZnPg==") no-repeat center center;
  -webkit-background-size: 6px 5px;
  -moz-background-size: 6px 5px;
  background-size: 6px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  height: 10px;
  width: 10px;
}
.filter_menu fieldset:before {
  right: 0px;
  top: 1px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.filter_menu fieldset:after {
  right: 0px;
  bottom: 1px;
}
.filter_menu fieldset .label-text {
  color: rgba(255,255,255,0.7);
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 10px;
  text-transform: uppercase;
}
.filter_menu fieldset select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 17px;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 21px;
  width: auto;
  min-width: 90px;
  display: inline-block;
  position: relative;
  font-weight: 600;
  z-index: 1;
  letter-spacing: 1px;
}
.filter_menu input[type=submit] {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  padding: 0px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #c60c30;
  font-style: italic;
  text-shadow: none;
}
/*
* Module - Menu Principal
*/
.menu-principal {
  background: #EA202C;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
/*
  * .item
  * &.brands - Reseta borda da classe brands
  */
}
.menu-principal:after {
  content: '';
  width: 100%;
  background: #BC2031;
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0px;
}
.menu-principal > .main-menu {
  z-index: 25;
}
.menu-principal > .item {
  padding: 10px 20px 0px 20px;
  background: #EA202C;
}
.menu-principal > .item:hover {
  background: #000;
}
.menu-principal > .item .text {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  padding-bottom: 10px;
  display: block;
  cursor: pointer;
}
.menu-principal > .item .text strong {
  font-weight: 800;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjExIiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAxMSA3Ij4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjZmZmOwogICAgICAgIGZpbGwtcnVsZTogZXZlbm9kZDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggZD0iTTkuNjMyLDAuMDAwIEMxMC4wODgsMC40NjEgMTAuNTQ0LDAuOTIxIDExLjAwMCwxLjM4MCBDOS4xNDQsMy4yNTQgNy4yODcsNS4xMjcgNS40MzAsNy4wMDAgQzMuNjIxLDUuMTc0IDEuODExLDMuMzQ3IDAuMDAwLDEuNTIxIEMwLjQ1NiwxLjA2MSAwLjkxMiwwLjYwMSAxLjM2OSwwLjE0MCBDMi43MjIsMS41MDcgNC4wNzcsMi44NzIgNS40MzAsNC4yMzkgQzYuODMxLDIuODI3IDguMjMxLDEuNDEzIDkuNjMyLDAuMDAwIFoiIGNsYXNzPSJjbHMtMSIvPgo8L3N2Zz4K") no-repeat center right;
  padding-right: 20px;
  display: table;
  font-size: 18px;
}
.menu-principal > .item.brands {
  border: none;
}
.menu-principal > .item.brands .dropdown-content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
/*
* Module - Product-name
* .product-collection & - Tamanho pequeno sem italico
*/
.product-collection .product-name {
  font-style: normal;
  font-size: 16px;
  line-height: 14px;
}
/*
* Module - Price-box
* .product-collection & - Configura fonte pequena
*/
.price-box > .price {
  color: #000;
  font-weight: 500;
  font-style: normal;
}
.price-box .regular-price .price,
.price-box .special-price .price,
.price-box .minimum-price .price {
  color: #000;
  font-weight: 500;
  font-style: normal;
}
.price-box .regular-price .label,
.price-box .special-price .label,
.price-box .minimum-price .label {
  display: none;
}
.product-collection .price-box > .price {
  font-size: 15px;
}
.product-collection .price-box .regular-price,
.product-collection .price-box .special-price,
.product-collection .price-box .minimum-price {
  font-size: 15px;
}
/*
* Module - Price-box-avista
* .product-collection & - Estiliza para a coleção
*/
.price-box-avista .price {
  color: #EA202C;
  font-style: normal;
}
.product-collection .price-box-avista {
  padding: 0px;
  text-align: center;
  border: 1px dotted #eee;
  border-left: none;
  border-right: none;
  padding: 8px 0px;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.product-collection .price-box-avista .label {
  font-size: 8px;
  text-transform: uppercase;
  width: 47px;
  color: #666;
  line-height: 11px;
}
.product-collection .price-box-avista .price {
  font-size: 22px;
  line-height: 21px;
  text-align: left;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.product-collection .price-box-avista .price span {
  line-height: 21px;
}
/*
* Module - Price box parcelado
*/
.price-box-parcelado .preco-parcelado-sem-juros,
.price-box-parcelado .preco-parcelado {
  font-weight: 500;
  font-size: 14px;
  color: #666;
  font-style: normal;
}
.price-box-parcelado .preco-parcelado-sem-juros .value,
.price-box-parcelado .preco-parcelado .value,
.price-box-parcelado .preco-parcelado-sem-juros .num,
.price-box-parcelado .preco-parcelado .num {
  font-weight: normal;
  color: #666;
}
.price-box-parcelado .preco-parcelado-sem-juros .value span,
.price-box-parcelado .preco-parcelado .value span,
.price-box-parcelado .preco-parcelado-sem-juros .num span,
.price-box-parcelado .preco-parcelado .num span {
  color: inherit;
}
.price-box-parcelado .preco-parcelado-sem-juros .upto,
.price-box-parcelado .preco-parcelado .upto {
  display: none;
}
.price-box-parcelado .preco-parcelado-sem-juros .s-juros,
.price-box-parcelado .preco-parcelado .s-juros {
  display: none;
}
.price-box-parcelado .preco-parcelado {
  display: none;
}
/*
* Module - .product-link
*.product-collection & - Deve zerar a margem padrão de product name
*/
.product-collection .product-link .product-name {
  margin-bottom: 0px;
}
/*
* Module - Link compare
*/
.link-compare {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
  background: #EA202C;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 10px;
}
/*
* Module - product-collection
*/
.product-collection ul.list li.item {
  text-align: center;
}
.product-collection ul.list li.item article {
  position: relative;
}
.product-collection ul.list li.item article .actions {
  position: absolute;
  top: 0px;
  width: 100%;
}
/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/
/*
* Layout - Header container
*/
/*
* Layout - .wrapper
*/
.wrapper .header-container {
  margin-bottom: 25px;
}
/*
* State
* Estado global do Layout
*/
/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
