<div class="services-step">
  <div class="title_services">
    Ao contratar os serviços da Diprel
    <div class="subtitle_services">
      o cliente conta com atendimento nas seguintes etapas:
    </div>
  </div>
  <div class="steps">
    <div class="step step-1">
      <span class="num">1</span>
      <span class="text">Visita técnica e comercial</span>
    </div>
    <div class="step step-2">
      <span class="num">1</span>
      <span class="text">Elaboração do projeto</span>
    </div>
    <div class="step step-3">
      <span class="num">1</span>
      <span class="text">Instalação do sistema</span>
    </div>
    <div class="step step-4">
      <span class="num">1</span>
      <span class="text">Treinamento dos usuários</span>
    </div>
  </div>
</div>
