{{widget type="banner/widget_banner" template="banner/banner.phtml" banner="rastreamento-banner"}}
<div class="specialist-wrapper">
    <div class="instalation">
        <h3>N&Oacute;S INSTALAMOS PARA VOC&Ecirc;!</h3>
        <ul>
            <li><span class="icon"> <img alt="" src="{{media url="wysiwyg/manutencao-icon.png"}}" /> </span> <span class="name">Manuten&ccedil;&atilde;o</span></li>
            <li><span class="icon"> <img alt="" src="{{media url="wysiwyg/consultoria-icon.png"}}" /> </span> <span class="name">Consultoria</span></li>
            <li><span class="icon"> <img alt="" src="{{media url="wysiwyg/monitoramento-icon.png"}}" /> </span> <span class="name">Monitoramento</span></li>
            <li><span class="icon"> <img alt="" src="{{media url="wysiwyg/instalacao-icon.png"}}" /> </span> <span class="name">Instala&ccedil;&atilde;o</span></li>
        </ul>
        <div class="price">
            <div class="up-to-price"><span class="label">Produtos &agrave; partir</span> <span class="value"> <small>R$</small>89</span></div>
        </div>
    </div>
    <div class="form-more">
      <h5>Quer saber mais</h5>
      <div class="subtitle">Preencha o formul&aacute;rio para que um especialista entre em contato</div>
      {{widget type="webforms/form" webform_id="2" template="webforms/default.phtml"}}
    </div>
</div>
{{widget type="interface/widget_scripts" template="interface/widgets/scripts.phtml" script_id="servicos-da-diprel" disable_cache="1"}}
<div class="reasons"><img alt="" src="{{media url="wysiwyg/razao-rastreamento.png"}}" />
    <div class="content">
      <h5>Porque usar?</h5>
      <p class="description">Evite aquelas multas indesej&aacute;veis que chegam em casa. Com o rastreamento voc&ecirc; consegue estabelecer um limite de velocidade, assim voc&ecirc; &eacute; ajudado quando o limite for estabelecido por voc&ecirc;. Aproveite e acompanhe tudo
          via app.</p>
      <a class="more button md cta" href="#">Quero saber mais</a>
    </div>
    <div class="vantagens">
      <h5>Quais as vantagens?</h5>
      <ul class="reasons-list">
          <li>Proporciona mais privacidade</li>
          <li>Instala&ccedil;&atilde;o simples</li>
          <li>Controle total de acesso</li>
          <li>Custo acess&iacute;vel</li>
      </ul>
    </div>
</div>
<div class="testimonials">
    <div class="title">Veja os depoimentos de clientes que j&aacute; utilizam nossos produtos</div>
    <ul class="testimonial-list">
        <li class="testimonial-item"><img alt="" src="{{media url="wysiwyg/cliente-feminina.png"}}" />
            <div class="desc"><strong>Nome do cliente</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in commodo justo. Aliquam convallis neque ac sagittis facilisis. Duis ut magna id risus viverra viverra in at mauris.</p>
            </div>
        </li>
        <li class="testimonial-item"><img alt="" src="{{media url="wysiwyg/cliente-masculino.png"}}" />
            <div class="desc"><strong>Nome do cliente</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in commodo justo. Aliquam convallis neque ac sagittis facilisis. Duis ut magna id risus viverra viverra in at mauris.</p>
            </div>
        </li>
    </ul>
</div>
<div class="quer-mais-bottom">
  <div class="form-more">
    <h5>Quer saber mais</h5>
    <div class="subtitle">Preencha o formul&aacute;rio para que um especialista entre em contato</div>
    {{widget type="webforms/form" webform_id="2" template="webforms/default.phtml"}}
  </div>
</div>
<div class="other-services"><strong class="text">Veja nossos outros servi&ccedil;os</strong> {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="nav_extra" exibicao="normal" transformar_mobile="1" breakpoint_pixels="1136" niveis="1"}}</div>
