$color1_font = '#FFFFFF'
$color1_font_hover = '#FFFFFF'
$color1_bg = '#EA202C'
$color1_bg_hover = '#BC2031'
$color2_font = '#FFFFFF'
$color2_font_hover = '#FFFFFF'
$color2_bg = '#140909'
$color2_bg_hover = '#140909'
$color3_font = '#FFFFFF'
$color3_font_hover = '#FFFFFF'
$color3_bg = '#6F686E'
$color3_bg_hover = '#534E52'
$button_font = '#FFFFFF'
$button_font_hover = '#FFFFFF'
$button_bg = '#54BD2B'
$button_bg_hover = '#439722'
