$color1_font = '#333333'
$color1_font_hover = '#f25f22'
$color1_bg = '#fafafa'
$color1_bg_hover = '#fff8f2'

$color2_font = '#fff'
$color2_font_hover = '#fff'
$color2_bg = '#53a851'
$color2_bg_hover = '#f25f22'

$color3_font = '#00ADD9'
$color3_font_hover = '#009BC3'
$color3_bg = '#FFFFFF'
$color3_bg_hover = '#FFFFFF'

$button_font = '#FFFFFF'
$button_font_hover = '#FFFFFF'
$button_bg = '#f25f22'
$button_bg_hover = '#46a838'

$bg_home = 'https://myshopbrasil.dev.bizcommerce.com.br/media/interface/images/bg-home.png'
$bg_bar = 'https://myshopbrasil.dev.bizcommerce.com.br/media/interface/images/bg-bar.png'
$bg_simplify_life = 'https://myshopbrasil.dev.bizcommerce.com.br/media/interface/images/bg-simplify-life.png'
