$color1_font = '@color(1)'
$color1_font_hover = '@color(1:hover)'
$color1_bg = '@bg(1)'
$color1_bg_hover = '@bg(1:hover)'
$color2_font = '@color(2)'
$color2_font_hover = '@color(1:hover)'
$color2_bg = '@bg(2)'
$color2_bg_hover = '@bg(2:hover)'
$color3_font = '@color(3)'
$color3_font_hover = '@color(3:hover)'
$color3_bg = '@bg(3)'
$color3_bg_hover = '@bg(3:hover)'
$button_font = '@button(color)'
$button_font_hover = '@button(color:hover)'
$button_bg = '@button(bg)'
$button_bg_hover = '@button(bg:hover)'

$sac_icon = '@img(sac-icon)'
$support_icon = '@img(support-icon)'
