$color1_font = '{{color1_font}}'
$color1_font_hover = '{{color1_font_hover}}'
$color1_bg = '{{color1_bg}}'
$color1_bg_hover = '{{color1_bg_hover}}'
$color2_font = '{{color2_font}}'
$color2_font_hover = '{{color2_font_hover}}'
$color2_bg = '{{color2_bg}}'
$color2_bg_hover = '{{color2_bg_hover}}'
$color3_font = '{{color3_font}}'
$color3_font_hover = '{{color3_font_hover}}'
$color3_bg = '{{color3_bg}}'
$color3_bg_hover = '{{color3_bg_hover}}'
$button_font = '{{button_font}}'
$button_font_hover = '{{button_font_hover}}'
$button_bg = '{{button_bg}}'
$button_bg_hover = '{{button_bg_hover}}'

$bg_home = '{{css_image name="bg-home"}}'
$bg_bar = '{{css_image name="bg-bar"}}'
$bg_simplify_life = '{{css_image name="bg-simplify-life"}}'
